{% extends 'layouts/b.html' %}

{% block title %} Edit Profile- {{ user.profile.realname }} {% endblock %}

{% block content %}
<style>
    .profile-edit-form input {
        padding:13px;
    }
    .profile-edit-page{
        max-width:650px;
        width:100%;
        background-color: rgb(241, 240, 253);
        padding:25px; margin:0 auto;
        border:1px solid #ccc;border-radius:20px;
    }
    
</style>
<div class="profile-edit-page">
  <h1 class="mb-2 text-center">Edit Profile</h1>
<div class="text-center flex flex-col items-center">
    <img id="avatar" class="w-20 h-20 rounded-full object-cover mb-4" src="{{ user.profile.image.url }}" />
    <div class="text-center max-w-md">
        <h2 id="realname">{{ user.profile.realname }}</h2>
        <div class="text-gray-400 mb-2 -mt-3">@{{ user.username }}</div>
    </div>
</div>
<form method="POST" enctype="multipart/form-data" class="profile-edit-form mb-5">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="successbtn" type="submit" >Submit</button>
    <a class="editbtn ml-1" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
</form>
<a class="delete-profile flex justify-center hover:underline " href="{% url 'delete-profile' %}">Delete Profile</a>


<script>
    // This updates the avatar
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    const image = document.querySelector('#avatar');

    if (file && file.type.includes('image')) {
        const url = URL.createObjectURL(file);
        image.src = url;
    }
    });

    // This updates the name
    const realnameInput = document.getElementById('id_realname');
    const realnameOutput = document.getElementById('realname');

    realnameInput.addEventListener('input', (event) => {
    realnameOutput.innerText = event.target.value;
    });

</script>
</div>
{% endblock %}