{% extends "layouts/b.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock title %}

{% block content %}
<div class="flex items-center justify-center flex-col ">
  <h1 class="theme-color">{% trans "Sign Out" %}</h1>

  <p class="mb-4 theme-color text-lg md:text-xl">{% trans 'Signing out? We will miss you' %} {{request.user.username|title}}!</p>
  
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="flex flex-start gap-2 items-center flex-wrap">
      <button class="deletebtn" type="submit">{% trans 'Confirm' %}</button>
      <a href="/" class="successbtn">{% trans 'Homepage' %}</a>
    </div>
  </form>
</div>
{% endblock content %}
