{% extends 'layouts/postpage_layout.html' %}

{% block title %} Delete Comment {% endblock %}

{% block content %}
<h1 class="theme-color">Delete Comment</h1>

{% include 'a_posts/post_comments.html' %}

<p class="my-6 theme-color">Are you sure you want to delete this comment?</p>

<form method='POST'>
    {% csrf_token %}
    <div class="flex justify-start gap-3 items-center flex-wrap">
        <button class="deletebtn" type="submit">Confirm</button>
        <a class="editbtn" type="submit" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
    </div>
</form>
{% endblock %}