{% extends 'layouts/b.html' %}

{% block title %} Create Post {% endblock %}

{% block content %}
<style>

    form input {
        border:none;
        padding:8px;
        background:none;
        border-bottom:1px solid blue;
        border-radius: 0;
    }
    form input[type="file"] {
        border:none;
        outline:none;
        background: none;
    }
    form textarea {
        border:none;
        padding:8px;
        background:none;
        border-bottom:1px solid blue;
        border-radius: 0;
       
    }
    form textarea:focus,
    form input:focus {
        outline:none;
        border:none;
        border-bottom:1px solid blue;
    }
</style>
<div class="post-item-card p-3 md:p-8">
    <p class="text-blue-900 font-bold text-xl pb-1">Create Post</p>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="successbtn mt-1">Create Post</button>
        <a class="editbtn ml-1" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
    </form>
</div>
{% endblock %}