{% extends 'layouts/profile_layout.html' %}

{% block title %} Create Post {% endblock %}

{% block content %}
{% load static %}
<style>
    .create_post_popup_container {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index:500;
        background:rgba(0,0,0,0.3);
    }
    .create_post_popup_item {
        background:rgb(243,241,253);
        width:100%;
        max-width:500px;
        margin:30px auto;
        border-radius: 2px;
        position: relative;
    }

    form input {
        border:none;
        padding:8px;
        background:none;
        border-bottom:1px solid blue;
        border-radius: 0;
    }
    form input[type="file"] {
        border:none;
        outline:none;
        background: none;
    }
    form textarea {
        border:none;
        padding:8px;
        background:none;
        border-bottom:1px solid blue;
        border-radius: 0;
       
    }
    form textarea:focus,
    form input:focus {
        outline:none;
        border:none;
        border-bottom:1px solid blue;
    }
 @media (max-width: 768px) {
    .create_post_popup_item {
        margin:30px 10px;
    }

 }
</style>
<div class="create_post_popup_container">
    <div class="p-3 md:p-8 create_post_popup_item">
        <p class="text-blue-900 font-bold text-xl pb-1">Hello <i class="fa-solid fa-hands text-2xl text-orange-600"></i> <span class="text-blue-900 mr-2">{{user.username|title}}, </span>Create Post</p>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="successbtn mt-1">Create Post</button>
            <a class="editbtn ml-1" href="{{ request.META.HTTP_REFERER }}">Close</a>
        </form>
    </div>
</div>
{% endblock %}