{% extends 'layouts/a.html' %}
{% block title %} ConnectHive{% endblock %}

{% block content %}
{% load static %}
<style>
    @keyframes postsload {
        0% { opacity:0;}
        100%{ opacity: 1;}
    }
    .load-box {
        animation: postsload 0.6s linear infinite;
    }
</style>

{% for post in posts %}
    {% include 'a_posts/post.html' %}
{% empty %}
    <div class="flex justify-center items-center mt-14">
        <p class="theme-color text-lg">No Posts Yet :(</p>
    </div>  
{% endfor %} 

 <div hx-get="{% if tag %}{% url 'category' tag.slug %}{% else %}
 {% url 'home' %}{% endif %}?page={{ page|add:1 }}"
     hx-trigger="revealed"
     hx-target="this"
     hx-swap="outerHTML">
     <div class="home-loader-bar flex justify-center items-center gap-2">
        <p class="load-box p-2 bg-gray-400 rounded-md"></p>
        <p class="load-box p-2  bg-gray-400 rounded-md"></p>
        <p class="load-box p-2  bg-gray-400 rounded-md"></p>
     </div>
 </div>
{% endblock %}
