{% extends 'layouts/b.html' %}

{% block title %} Edit Note {% endblock %}

{% block content %}
<h1>Edit Note</h1>
<div class="card p-4">
    <div class="pb-2">
        <form method='POST'>
            {% csrf_token %}
            {{ form }}
            <div class="pt-4">
                <button class="successbtn" type="submit">Submit</button>
                <a class="editbtn" type="submit" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}