{% extends 'layouts/b.html' %}

{% block title %} Edit Post- {{ post.id }} {% endblock %}

{% block content %}
<h1>Edit Post</h1>
<style>
    input {
        margin-bottom:15px;
    }
</style>
<div class="card p-4">
    <div class="flex items-center mb-4">
        {% if post.media %}
            {% if 'mp4' in post.media.url %}
            <video src="{{post.media.url}}" type="mp4" controls ></video>
            {% else %}
            <figure>
                <a href="{% url 'view-post' post.id %}"><img class="w-full" src="{{ post.media.url }}"></a>
            </figure>
            {% endif %}
        {% else %}
        {% endif %}
    <h3 class="text-lg font-bold">{{ post.title }}</h3>
    </div>
    
    <div class="pb-2">
        <form method='POST'>
            {% csrf_token %}
            {{ form }}
            <div class="pt-4">
                <button class="successbtn" type="submit">Submit</button>
                <a class="editbtn" type="submit" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}