{% extends 'layouts/postpage_layout.html' %}

{% block title %} Edit Post- {{ post.id }} {% endblock %}

{% block content %}
<div class="flex justify-start items-center py-2 px-3">
    <a href="{{ request.META.HTTP_REFERER}}"><i class="fa fa-arrow-left-long mr-2 theme-color text-lg"></i></a>
    <p class="theme-color text-lg">Edit Post</p>
</div>
<div class="post-item-card p-2">
    <div class="flex items-center mb-4">
        {% if post.media %}
            {% if 'mp4' in post.media.url %}
            <video src="{{post.media.url}}" type="mp4" controls ></video>
            {% else %}
            <figure>
                <a href="{% url 'view-post' post.id %}"><img class="w-full" src="{{ post.media.url }}"></a>
            </figure>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
    
    <div class="pb-2">
        <form method='POST'>
            {% csrf_token %}
            {{ form }}
            <div class="pt-4">
                <button class="successbtn" type="submit">Submit</button>
                <a class="editbtn" type="submit" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}