{% extends 'layouts/b.html' %}

{% block title %} Delete Post- {{ post.id }} {% endblock %}

{% block content %}
<div class="md:flex items-center">
    <div class="w-full mr-2">
        <article class="post-item-card">
            <a class="flex items-center gap-1 m-2" href="">
                <img class="w-6 h-6 object-cover rounded-full" src="{{post.author.profile.image.url}}">
                <span class="font-bold hover:underline">{{ post.author }}</span>
                <span class="text-sm text-gray-400"> @ {{ post.author }} </span>
            </a>
            {% if post.media %}
                {% if 'mp4' in post.media.url %}
                <video src="{{post.media.url}}" type="mp4" controls ></video>
                {% else %}
                <figure>
                    <a href="{% url 'view-post' post.id %}"><img class="w-full" src="{{ post.media.url }}"></a>
                </figure>
                {% endif %}
            {% else %}
            {% endif %}
            <div class="p-2 px-4">
                <p class="text-lg">{{ post.body }}</p>
                {% if not post.media or 'mp4' in post.media.url %}
                {% else %}
                    {% for tag in post.tags.all %}
                    <div class="flex items-center gap-2 text-sm mb-2 flex-wrap">
                        <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">{{tag}}</a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </article>
    </div>
    <div>
        <h1 class="text-white font-bold text-2xl pt-2">Delete Post</h1>
        <p class="text-white mb-6">Are you sure you want to delete this post?</p>
        
        <form method='POST'>
            {% csrf_token %}
            <button class="deletebtn" type="submit">Confirm</button>
            <a id="backbtn" class="editbtn" type="submit" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
        </form>
    </div>
</div>
{% endblock %}