{% extends 'layouts/postpage_layout.html' %}

{% block title %} Delete Post- {{ post.id }} {% endblock %}
{% load static %}
{% block content %}
<div class="md:flex items-center gap-3">
    <div class="w-full mr-2">
        <article class="post-item-card">
            <a class="flex items-center gap-1 m-2" href="">
                {% if post.author.profile.image %}
                <img class="h-8 w-8 rounded-full object-cover" src="{{post.author.profile.imageURL}}" alt="Upload Profile"/>
                {% else %}
                <img class="h-8 w-8 rounded-full object-cover" src="{% static 'images/default.png' %}" alt="Upload Profile"/>
                {% endif %}
                <span class="font-bold hover:underline">{{ post.author }}</span>
                <span class="text-sm text-gray-400"> @ {{ post.author }} </span>
            </a>
            {% if post.media %}
                {% if 'mp4' in post.media.url %}
                <video src="{{post.media.url}}" type="mp4" controls ></video>
                {% else %}
                <figure>
                    <a href="{% url 'view-post' post.id %}"><img class="w-full" src="{{ post.media.url }}"></a>
                </figure>
                {% endif %}
            {% else %}
            {% endif %}
            <div class="p-2 px-4">
                <p class="text-lg">{{ post.body }}</p>
                {% if not post.media or 'mp4' in post.media.url %}
                {% else %}
                    {% for tag in post.tags.all %}
                    <div class="flex items-center gap-2 text-sm mb-2 flex-wrap">
                        <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:theme-color">{{tag}}</a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </article>
    </div>
    <div>
        <h1 class="theme-color font-bold text-2xl pt-2">Delete Post</h1>
        <p class="theme-color mb-6">Are you sure you want to delete this post?</p>
        
        <form method='POST'>
            {% csrf_token %}
            <div class="pt-4 flex flex-start gap-3 flex-wrap">
                <button class="px-4 py-1.5 bg-blue-700 rounded-3xl text-white" type="submit">Confirm</button>
                <a class="px-4 py-1.5 bg-gray-600 rounded-3xl text-white" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}