{% extends 'layouts/postpage_layout.html' %}

{% block title %} Post {% endblock %}

{% block content %}
<style>
    #comment-form{
        display:none;
    }
    form input {
        border:none;
        padding:8px;
        background:none;
        border-bottom:1px solid blue;
        border-radius: 0;
    }
    
    form input:focus {
        outline:none;
        border:none;
        border-bottom:1px solid blue;
    }
</style>
{% load static %}
<!--Post here-->
{% include 'a_posts/post.html' %}

{% if user.is_authenticated %}
<div class="post-item-card !pb-0 mt-1" id="comment-form">
        <p class="text-gray-500 pl-8 pt-1">Replying to <span class="text-orange-500">@{{post.author.username}}</span></p>
        <form  class="flex items-center p-4" autocomplete="off" 
         hx-post="{% url 'sent-post-comment' post.id %}"
         hx-target="#tab-contents"
         hx-swap="afterbegin"
         _="on htmx:afterRequest reset() me">
            <div class="w-12 h-12"> 
                <img class="h-8 w-8 rounded-full object-cover" src="{{ user.profile.image.url }}" alt="Upload Profile"/>
            </div>
            {% csrf_token %}
            {{ commentform }}
            <button @click="open = false" class="block ml-2" type="submit"><img style="width:25px" src="{% static 'icons/send_icon.png' %}"></button>
        </form>
</div>
{% endif %}

<div class="mb-20 mt-5">
    {% if post.comments.count %}
    <div id="tabs" class="ml-4 flex gap-4 mb-4" hx-target="#tab-contents" hx-swap="innerHTML"
    _="on htmx:afterOnLoad take .selected for event.target">
        <a hx-get="{%  url 'view-post' post.id %}" class="tab selected theme-color">Newest First</a> 
        <a hx-get="{%  url 'view-post' post.id %}?top" class="tab theme-color">Top Comments</a>
    </div>
    {% endif %}
    <div id="tab-contents">
        {% for comment in post.comments.all %}
        {% include 'a_posts/post_comments.html' %}
        {% endfor %}
    </div>
</div>


<script>
    const commentbutton = document.getElementById('commentbtn');
    const commentform = document.getElementById('comment-form');

    commentbutton.addEventListener('click', () =>{
        commentform.style.display='block';
    });
    
</script>
{% endblock %}