{% load static %}
<comment class="post-item-card p-4 ">
    <div class="flex justify-between items-center"> 
        <a class="flex items-center gap-1 mb-2" href="{% url 'userprofile' comment.author.username %}">
            {% if comment.author.profile.image %}
            <img class="h-8 w-8 rounded-full object-cover" src="{{ comment.author.profile.imageURL }}" alt="Upload Profile"/>
            {% else %}
            <img class="h-8 w-8 rounded-full object-cover" src="{% static 'images/default.png' %}" alt="Upload Profile"/>
            {% endif %}
            <span class="font-bold hover:underline">{{ comment.author.profile.realname }}</span>
            <span class="text-sm font-normal text-gray-400">@ {{ comment.author.username }}</span>
            <span class="text-sm font-normal ml-4">{{ comment.created }}</span>
        </a>
    </div>
    <p class="text-lg px-2">
        {{ comment.body }}
    </p>
    <div x-data="{ repliesOpen: false }" class="flex items-center justify-between flex-wrap text-sm px-2">
        {% if user.is_authenticated or comment.replies.count %}
        <a @click="repliesOpen = !repliesOpen" class="font-bold hover:underline cursor-pointer">
            <div class="inline-block" x-bind:class="repliesOpen && 'rotate-90 duration-300'">
                <svg transform ="rotate(90)" width="9" height="9" viewBox="0 0 25 25">
                    <path d="M24 22h-24l12-20z"/>
                </svg>
            </div>
            Replies
            {% if comment.replies.count > 0 %}
            <span hx-swap-oob="true" id="commentrepliescount-{{ comment.id }}" class="font-light text-gray-500 ml-1">{{ comment.replies.count }}</span>
            {% endif %}
        </a>
        {% endif %}
        
        <div class="flex  gap-4 [&>a:hover]:underline">
            {% include 'snippets/posts_comment_likes.html' %}
            {% if user.is_superuser or user == comment.author %}
            <a href="{% url 'delete-post-comment' comment.id %}"><i class="fa-regular fa-trash-can" style="color:darkblue;font-size:17px;"></i></a>
            {% endif %}
        </div>
        <div x-show="repliesOpen" x-cloak class="basis-full mt-3 pl-8 grid grid-cols-1">
            <div id="reply-button">
            {% for reply in comment.replies.all %}
            {% include 'a_posts/post_comment_replies.html' %}
            {% endfor %}
            </div>
        <style>
            input{
                padding:11px;
            }
        </style>
        {% if user.is_authenticated %}
            <form class="replyform flex justify-between items-center" autocomplete="off" 
             hx-post="{% url 'sent-post-comment-reply' comment.id %}"
             hx-target="this"
             hx-swap="outerHTML">
                {% csrf_token %}
                {{ commentreplyform }}
                <button class="block" type="submit"><img style="width:25px;" src="{% static 'icons/send_icon.png' %}"></button>
            </form>
        {% endif %}
        </div>
</div> 
</comment>