<card class="card">
    <a class="flex items-center gap-1 mb-2 mt-3 ml-1" href="{% url 'userprofile' post.author.username %}">
        <img class="w-8 h-8 object-cover rounded-full" src="{{ post.author.profile.image.url }}">
        <span class="font-bold hover:underline">{{ post.author.profile.realname }}</span>
        <span class="text-sm text-gray-400">@ {{ post.author }}</span>
    </a>
    <h3 class="text-start pl-2 pt-0.3 pb-1">{{ post.title }}</h3>
    {% if post.media %}
        {% if 'mp4' in post.media.url %}
        <video src="{{post.media.url}}" type="mp4" controls ></video>
        {% else %}
        <figure>
            <a href="{% url 'view-post' post.id %}"><img class="w-full" src="{{ post.media.url }}"></a>
        </figure>
        {% endif %}
    {% else %}
    {% endif %}
    <div class="pt-2 px-4  ">
        
        <p class="text-lg mb-4">{{ post.body }}</p>
        {% if not post.media or 'mp4' in post.media.url %}
        {% else %}
            <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
                {% for tag in post.tags.all %}
                <a href="{% url 'category' tag.slug %}" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
      
        <div style="display: flex; flex-wrap: wrap;justify-content: center; align-items: center;gap:30px;">
            {% if post.comments.count %}
            <p id="commentbtn"><a class="font-bold cursor-pointer">
            <i style="color:darkblue;font-size:20px;" class="fa-regular fa-comment"></i>
            <span id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-1">{{ post.comments.count }}</span>
            </a></p>
            {% else %}
            <p id="commentbtn" style="font-weight:600;color: darkblue;cursor:pointer;"><a>
            <i style="color:darkblue;font-size:20px;" class="fa-regular fa-comment"></i><span class="text-black-800">+</span></a>
            </p>
            {% endif %}
            
            <p><a href="{% url 'view-post' post.id %}"><i class="fa-solid fa-retweet" style="color:darkblue;font-size:20px;"></i></a></p>
            {% include 'snippets/posts_likes.html' %}
            {% if user.is_superuser or user == post.author %}
            <p><a href="{% url 'edit-post' post.id %}"><i class="fa-regular fa-pen-to-square" style="color:darkblue;font-size:17px;"></i></a></p>
            <p><a href="{% url 'delete-post' post.id %}"><i class="fa-regular fa-trash-can" style="color:darkblue;font-size:17px;"></i></a></p>
            {% endif %} 
        </div>
    </div>
</card>