{% extends 'layouts/b.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<style>
    .login-container {
        max-width: 700px;
        border: 1px solid #ccc;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: center;
    }

    .img-container {
        overflow:hidden;
        padding:20px; 
        background-color: rgb(241, 240, 253);
    }

    .login-form-container {
        background:rgb(247, 246, 246);
        border: 1px solid #ccc;
    }
    

    .login-form {
        padding: 20px;
    }

    input {
        background-color: rgb(242, 239, 239);
        margin-bottom: 20px;
        padding: 12px;
        border-radius: 3px;
        outline: .1px solid rgb(0, 0, 255);
    }

    @media (max-width: 768px) {
        .login-container {
            grid-template-columns:100%;
        }
        .img-container {
            display:none;
        }
    }
</style>
{% load static %}
<div class='login-container'>
    <div class="img-container">
        <img class="img-fluid" src="{% static 'icons/signin.png' %}" alt="login-img">
    </div>
    <div class="login-form-container">
        <form class="login-form" method="post">
            <p style="font-size:20px; color:black;font-weight:600;padding-bottom: 8px;">Login</p>
            {% csrf_token %}
            {{ form }}
            <div style="text-align:center;margin-bottom:20px;"><a style="color:darkblue;font-size:14px; text-decoration: underline;" href="/password_reset">Forgot your Password?</a></div>
            <div style="display:flex; justify-content: center;">
                <input type="submit" value="Login" style="width:70%; font-size: 16px;border-radius:5px; padding:1px;font-family: Arial, Helvetica, sans-serif;font-weight:400">
            </div>
            <div style="text-align:center;margin:20px 0;">Don't have an account yet? <a style="color:darkblue;font-size:14px; text-decoration: underline;" href="/sign-up">Signup now!</a></div>
        </form>
    </div>
</div>
{% endblock %}