{% extends 'layouts/b.html' %}

{% block content %}
<style>
    form {
        max-width:600px;
        width:100%;
        background:rgb(247, 246, 246);
        padding:30px;
        margin:20px auto;
        border-radius:8px;
        border:1px solid #ccc;
    }
    p {
        padding-bottom:5px;
        color:black;
        font-size: 16px;
        font-weight:500;
    }
    input {
        background-color:rgb(242, 239, 239);
        border:.1px solid #ccc;
        padding:12px;

    }
</style>
<form method="post">
    {% csrf_token %}
    <p style="font-size:20px; color:black;font-weight:600;padding-bottom: 10px;">Password reset</p>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    {{ form }}
    <button type="submit" style="margin-top:20px;margin-bottom:20px;" class="mt-1">Reset Password</button>
    <p>If you do not receive an email within a few minutes, please check your spam folder.</p>
</form>
{% endblock %}