:root{
	--mainColor:rgb(4, 21, 53);
	--secondaryColor:#192734;

	--borderColor:#163439;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}

/*--mainColor:rgb(4, 21, 53);