{% extends 'layouts/a.html' %}

{% block title %} Colltech Gallery {% endblock %}

{% block content %}

{% for post in posts %}
        {% load static %}
        <article class="card">
            <div class="flex items-center justify-between px-4 h-9">
                <h3 class="text-start leading-5 mr-1">{{ post.title }}</h3>
                <div class="text-sm text-gray-400 truncate"><a target="_blank" href="https://www.flickr.com/explore">flickr</a><a href="{% url 'userprofile' post.author.username %}" class="hover:underline ml-1">@ {{ post.author }}</a></div>
            </div>
            <figure>
                <p><a href="{% url 'view-post' post.id %}"><img class="w-full" src="{{ post.image }}"></a></p>
            </figure>
            <div class="pt-2 px-4  ">
                <a class="flex items-center gap-1 mb-4" href="{% url 'userprofile' post.author.username %}">
                    <img class="w-8 h-8 object-cover rounded-full" src="{{ post.author.profile.image.url }}">
                    <span class="font-bold hover:underline">{{ post.author.first_name }}</span>
                    <span class="text-sm text-gray-400">@ {{ post.author }}</span>
                </a>
                <p class="text-3xl mb-4 font1">{{ post.body }}</p>
                <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
                    <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">Animals</a>
                    <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">Black & White</a>
                </div>
                <div style="display: flex; flex-wrap:wrap;justify-content:flex-start; gap:30px;">
                        {% if post.comments.count %}
                        <p><a class="font-bold hover:underline ml-2" href="{% url 'view-post' post.id %}">
                        <i style="color:darkblue;font-size:20px;" class="fa-regular fa-comment"></i><span class="font-light text-gray-500 ml-1">{{ post.comments.count }}</span></a>
                        </p>
                        {% else %}
                        <p style="font-weight:600;color: darkblue;text-decoration: underline;"><a href="{% url 'view-post' post.id %}">Add Comment</a></p>
                        {% endif %}
                        {% include 'snippets/posts_likes.html' %}
                        {% if user.is_superuser or user == post.author %}
                        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:blue;' href="{% url 'edit-post' post.id %}">Edit</a></p>
                        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:red;' href="{% url 'delete-post' post.id %}">Delete</a></p>
                        {% endif %}
                </div>
            </div>
        </article>
        {% empty %}
        <div style="display: flex; justify-content: center;align-items: center; color:darkblue;font-weight: 600;margin-top:60px;">
            <h3>No Posts Yet ;(</h3>
        </div>  
 {% endfor %} 

{% endblock %}