{% extends 'layouts/a.html' %}

{% block content %}

{% for post in posts %}
        <article class="card">
            <div class="flex items-center justify-between px-4 h-14">
                <h3 class="text-start leading-5 mr-1">{{ post.title }}</h3>
                <div class="text-sm text-gray-400 truncate">flickr<a href="" class="hover:underline ml-1" target="blank">@John Doe</a></div>
            </div>
            <figure>
                <p><a href="{% url 'view-post' post.id %}"><img class="w-full" src="{{ post.image }}"></a></p>
            </figure>
            <div class="p-4 pb-2">
                <a class="flex items-center gap-1 mb-4" href="">
                    <img class="w-8 h-8 object-cover rounded-full" src="https://img.icons8.com/small/96/A9A9A9/happy.png">
                    <span class="font-bold hover:underline">post.author</span>
                    <span class="text-sm text-gray-400">@post.author/span>
                </a>
                <p class="text-3xl mb-8 px-4 font1">{{ post.body }}</p>
                <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
                    <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">Animals</a>
                    <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">Black & White</a>
                </div>
                <div style="display: flex; flex-wrap: wrap;justify-content: flex-start; gap:30px;align-items: center;">
                        <p><a class="font-bold hover:underline" href="{% url 'view-post' post.id %}">
                        Comments<span class="font-light text-gray-500 ml-1">3</span></a>
                        </p>
                        <p style="display:flex; flex-wrap:wrap; gap:10px;align-items: center;">
                            <img class="w-5 -mt-1" src="https://img.icons8.com/small/24/000000/fire-heart.png">1
                        </p>
                        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:rgb(105, 71, 8);' href="">Like</a></p>
                        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:blue;' href="{% url 'edit-post' post.id %}">Edit</a></p>
                        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:red;' href="{% url 'delete-post' post.id %}">Delete</a></p>
                </div>
            </div>
        </article>
        {% empty %}
        <p>No Posts Yet ;(</p>
 {% endfor %} 

{% endblock %}