{% extends 'layouts/c.html' %}

{% block content %}

<h1 style="font-size: 30px;font-weight:700;font-family: sans-serif;padding-left:10px;color:darkorange;border-bottom: 5px solid #ccc;">FEATURED NOTES</h1>

 {% for note in notes %}
 <div  style="padding:20px;margin-bottom:20px; word-spacing: 2px;text-align: justify;background-color: rgb(209, 213, 213);border-radius: 15px;width:100%;">
    <div style="margin-bottom:20px; color:darkblue; text-align: center;line-height: 20px;font-size: 19px;font-weight: 600;">
        {{ note.title }}
    </div>
    <hr style="margin-bottom:10px;background-color:blue;opacity:1">
    <div style="margin-bottom:20px; color:black; text-align: justify;line-height: 20px;font-size: 16px;">
        {{ note.description|linebreaksbr }}
    </div>
    <div style="display: flex; flex-wrap: wrap;justify-content: flex-start; gap:30px;align-items: center;">
        <p>@ <span style="color:darkblue; font-weight: bold;">{{ note.author }}</span>  :{{ note.created_at }}</p>
        <p style="display:flex; flex-wrap:wrap; gap:10px;align-items: center;">
            <img class="w-5 -mt-1" src="https://img.icons8.com/small/24/000000/fire-heart.png">1
        </p>
        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:rgb(105, 71, 8);' href="">Like</a></p>
        {% if user == note.author %}
        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:blue;' href="{% url 'edit-note' note.id %}">Edit</a></p>
        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:red;' href="{% url 'delete-note' note.id %}">Delete</a></p>
        {% endif %}
    </div>
    
 </div>
{% empty %}
<p>No Posts yet :(</p>
{% endfor %}

{% endblock %}