{% extends 'layouts/b.html' %}

{% block content %}
<div class="md:flex items-center gap-5  ">
    <div class="w-full md:max-w-sm mr-6 md:[&>*>*>p]:text-4xl" style="background-color: rgb(232, 232, 232);border-radius: 15px;width:100%;border:1px solid #ccc;border-radius: 15px;padding:5px 15px;">
        <note style="padding:20px;margin-bottom:20px; word-spacing: 2px;text-align: justify;border-radius: 15px;width:100%;">
            <div style="margin-bottom:20px; color:darkblue; text-align: center;line-height: 20px;font-size: 19px;font-weight: 600;">
                {{ note.title }}
            </div>
            <hr style="margin-bottom:10px;background-color:blue;opacity:1">
            <div style="margin-bottom:20px; color:black; text-align: justify;line-height: 20px;font-size: 16px;">
                {{ note.description|linebreaksbr }}
            </div>
                <p>@ <span style="color:darkblue; font-weight: bold;">{{ note.author }}</span> on :{{ note.created_at }}</p>
         </note>
    </div>
    <div>
        <h1>Delete Note</h1>
        <p class="mb-6">Are you sure you want to delete this note?</p>
        <div style="display: flex; flex-wrap: wrap;justify-content: flex-start;gap:20px;align-items: center;">
            <form method="POST" >
                {% csrf_token %}
                <button class="deletebtn" type="submit" name="note-id" value="{{ note.id }}">Confirm</button>
            </form>
            <a class='editbtn' type="submit" href="{% url 'notes' %}">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}