{% extends 'layouts/c.html' %}

{% block title %} Notes {% endblock %}

{% block content %}

<h1 style="font-size: 30px;font-weight:700;font-family: sans-serif;padding-left:10px;color:darkorange;border-bottom: 5px solid #ccc;">FEATURED NOTES</h1>

 {% for note in notes %}

 <div  style="padding:20px;margin-bottom:20px; word-spacing: 3px;text-align: justify;background-color: rgb(240, 240, 250);border-radius: 15px;width:100%;border:1px solid #ccc;">
    <a class="flex gap-1 mb-2" href="{% url 'userprofile' note.author.username %}" style="background:rgb(249, 249, 251);padding:10px;border-radius:10px;">
        <img class="w-8 h-8 object-cover rounded-full" src="{{ note.author.profile.image.url }}">
        <p>@ <span style="color:darkblue; font-weight: bold;">{{ note.author }}</span>  :{{ note.created_at }}</p>
    </a>
    <div style="margin-bottom:8px;padding-bottom: 10px; color:darkblue; text-align: justify;line-height: 18px;font-size: 18px;font-weight: 600;border-bottom: 1px solid #ccc;">
        {{ note.title }}
    </div>
   
    <div style="margin-bottom:20px; color:black; text-align: justify;line-height: 20px;font-size: 16px;">
        {{ note.description|linebreaksbr }}
    </div>
    <div style="display: flex; flex-wrap: wrap;justify-content: flex-start; gap:30px;align-items: center;">
        <p><a class="font-bold hover:underline" href=""><i style="color:darkblue;font-size:20px;" class="fa-regular fa-comment"></i><span class="font-light text-gray-500 ml-1">3</span></a>
        </p>
        
        {% include 'snippets/notes_likes.html' %}

        {% if user == note.author or user.is_superuser %}
        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:blue;' href="{% url 'edit-note' note.id %}">Edit</a></p>
        <p><a style='background:#ccc; border-radius: 15px;padding:5px 15px;color:red;' href="{% url 'delete-note' note.id %}">Delete</a></p>
        {% endif %}
    </div>
    
 </div>
{% empty %}
<p>No Posts yet :(</p>
{% endfor %}

{% endblock %}