{% load static %}
<fade-in class="opacity-0 ease-in-out" 
_="on load transition my opacity to 1 over 0.3 seconds">
<style>
.post-grid {
    display:grid;
    grid-template-columns: 1fr 9fr;
    justify-content: center;
    margin-top:15px;
    margin-left:10px;
}
@media (max-width:400px) {
    .post-grid {
    grid-template-columns: 1fr 7fr;
}
}
@media (max-width:300px) {
    .post-grid {
    grid-template-columns: 1fr;
}
}
</style>
{% for repost in reposts %}
    <card class="post-item-card" >
        <div class="post-grid">
            <div>
                {% if repost.original_post.author.profile.image %}
                <img class="h-8 w-8 rounded-full object-cover" src="{{ repost.original_post.author.profile.imageURL }}" alt="Upload Profile"/>
                {% else %}
                <img class="h-8 w-8 rounded-full object-cover" src="{% static 'images/default.png' %}" alt="Upload Profile"/>
                {% endif %}
            </div>
        
            <div class="pr-5">
                <a href="{% url 'userprofile' repost.original_post.author.username %}">
                {% if repost.original_post.author.profile.realname %}
                <span class="font-bold hover:underline">{{ repost.original_post.author.profile.realname|title }}</span>
                {% else %}
                <span class="font-bold hover:underline">{{ repost.original_post.author|title }}</span>
                {% endif %}   
                <span class="text-sm text-gray-500">@ {{ repost.original_post.author }}</span>
                <span class="text-sm ml-2 text-gray-500">{{ repost.original_post.created }}</span>
                <span><i class="fa-solid fa-user-lock text-sm mr-2"></i><span class="text-sm">Private</span></span>
                </a> 
                <div class="mt-3">
                    {% if repost.original_post.media %}
                    {% if 'mp4' in repost.original_post.media.url %}
                    <video src="{{repost.original_post.media.url}}" type="mp4" controls ></video>
                    {% else %}
                    <figure>
                        <a href="{% url 'view-post' repost.original_post.id %}"><img class="w-full"  src="{{ repost.original_post.media.url }}"></a>
                    </figure>
                    {% endif %}
                {% else %}
                {% endif %}
                </div>  
                <div class="pt-2">
                    <a href="{% url 'view-post' repost.original_post.id %}"><p class="text-lg mb-4">{{ repost.original_post.body }}</p></a>
                    {% if not repost.original_post.media or 'mp4' in repost.original_post.media.url %}
                    {% else %}
                        <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
                            {% for tag in repost.original_post.tags.all %}
                            <a href="{% url 'category' tag.slug %}" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:theme-color">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                
                    <div style="display: flex; flex-wrap: wrap;justify-content: center; align-items: center;gap:30px;">
                        {% if repost.original_post.comments.count %}
                        <p id="commentbtn"><a class="font-bold cursor-pointer">
                        <i class="fa-regular fa-comment text-blue-800 text-lg hover:text-green-700"></i>
                        <span id="commentscount-{{ repost.original_post.id }}" class="font-light text-gray-500 ml-1">{{ repost.original_post.comments.count }}</span>
                        </a></p>
                        {% else %}
                        <p id="commentbtn" class="font-semibold text-blue-800 cursor-pointer"><a>
                        <i class="fa-regular fa-comment text-blue-800 text-lg"></i><span class="text-black-800">+</span></a>
                        </p>
                        {% endif %}
                        
                        <p><a href="{% url 'undoreposts-view' repost.id %}"><i class="fa-solid fa-retweet text-blue-800 hover:text-yellow-700 text-lg"></i></a></p>
                        <p><a href="{% url 'undoreposts-view' repost.id %}"><i class="fa-solid fa-bookmark text-pink-600 hover:text-yellow-700 text-lg"></i></a></p>
                        <div>
                            <p style='display:flex; gap:10px;cursor:pointer; align-items: center;'>
                            <a  
                            hx-get="{% url 'like-post' repost.original_post.id %}"
                            hx-target="closest div"
                            hx-swap="outerHTML">
                            {% if user in post.likes.all %}   
                            <i style="font-size:19px;" class="fa-regular fa-thumbs-up text-red-500"></i>
                            {% else %}
                            <i style="font-size:19px;" class="fa-regular fa-thumbs-up text-blue-900 hover:text-red-600"></i>
                            {% endif %}</a>
                            {{  post.likes.count }}
                            </p>
                        </div>
                        {% if user.is_superuser or user == post.author %}
                        <p><a href="{% url 'edit-post' repost.original_post.id %}"><i class="fa-regular fa-pen-to-square text-blue-800 text-lg"></i></a></p>
                        <p><a href="{% url 'delete-post' repost.original_post.id %}"><i class="fa-regular fa-trash-can text-blue-800 hover:text-red-700 text-lg"></i></a></p>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </card>
{% empty %}
<div class="theme-color flex justify-center items-center mt-14">
    <p class="theme-color text-lg" >You have not bookmarked posts yet :(</p>
</div> 
{% endfor %}
</fade-in>