<fade-in class="opacity-0 ease-in-out" 
_="on load transition my opacity to 1 over 0.3 seconds">
    {% for followed_profile in following %}
    <li class="flex justify-between items-center p-4 pb-1 mb-2 hover:shadow-lg rounded-lg">
        <div class="flex justify-start items-center" >
            <img class="h-8 w-8 rounded-full object-cover mr-2" src="{{ followed_profile.image.url }}" alt="Upload Profile"/>
            <a href="{% url 'userprofile' followed_profile.user.username %}" class="text-lg theme-color">{{ followed_profile.realname }}<span class="opacity-70 theme-color text-sm">@{{ followed_profile.user.username }} </span></a>
        </div>
        <form action="{% url 'unfollow_user' username=followed_profile.user.username %}" method="POST">
            {% csrf_token %}
            <button id="already-following-btn" type="submit" class="text-sm py-1.5 px-4 bg-blue-600 hover:bg-orange-500 rounded-xl  theme-color text-center "><span id="following-text">Following</span><span id="unfollow-text" class="hidden duration-700 ease-in-out">Unfollow</span></button>
        </form>
    </li>
    {% empty %}
    <p class="flex items-center justify-center theme-color text-lg">Not following anyone yet.</p>
    {% endfor %}
</ul>
</fade-in>

<script>
const followingBtns = document.querySelectorAll('#already-following-btn');

followingBtns.forEach((followingBtn) => {
    const followingText = followingBtn.querySelector('#following-text');
    const unfollowText = followingBtn.querySelector('#unfollow-text');

    followingBtn.addEventListener('mouseover', () => {
        followingText.classList.add('hidden');
        unfollowText.classList.remove('hidden');
    });

    followingBtn.addEventListener('mouseout', () => {
        followingText.classList.remove('hidden');
        unfollowText.classList.add('hidden');
    });
});


</script>