<fade-in class="opacity-0 ease-in-out" 
_="on load transition my opacity to 1 over 0.3 seconds">
{% for follower in followers %}
<li class="flex justify-between items-center p-4 pb-1 mb-2 hover:shadow-lg shadow-orange-400 rounded-lg">
    <div class="flex justify-start items-center" >
        <img class="h-8 w-8 rounded-full object-cover mr-2" src="{{ follower.profile.image.url }}" alt="Upload Profile"/>
        <a href="{% url 'userprofile' follower.username %}" class="text-lg theme-color">{{ follower.profile.realname }}<span class="opacity-70 theme-colortext-sm">@{{ follower.username }} </span></a>
    </div>
    {% if request.user in follower.profile.followers.all %}
    <button type="submit" class="text-sm py-1 px-3 bg-orange-500 hover:bg-blue-800 hover:theme-color rounded-xl mr-2  theme-color text-center">Following</button>
    {% else %}
    <form action="{% url 'follow_user' username=follower.username %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="text-sm py-1.5 px-6 bg-blue-600 hover:bg-orange-500 hover:theme-color rounded-xl mr-2 theme-color text-center">Follow</button>
    </form>
    {% endif %}
</li>
{% empty %}
<li class="flex items-center justify-center theme-color text-lg">No followers yet.</li>
{% endfor %}
</fade-in>