{% load static %}

<header x-data="{ mobilenavOpen: false }" class="header md:flex items-center justify-between [&>*]:px-7 h-20 theme-color top-0 z-40 sticky">
    <div class="flex items-center justify-between h-20">
        <mobileicon class="-ml-3 md:hidden">
            <a @click="mobilenavOpen = !mobilenavOpen" class="h-10 w-10 flex items-center justify-center cursor-pointer hover:bg-gray-400 rounded-lg">
                <i x-show="!mobilenavOpen" class="fa-solid fa-bars theme-color text-xl"></i>
                <i x-show="mobilenavOpen" x-cloak class="fa-solid fa-xmark theme-color text-2xl z-20"></i>
            </a>
        </mobileicon>    
        <logo class="mr-6">
            <a href="/">
                <img  id="logo-home" class="w-7 md:hidden" src="{% static 'icons/logo1.png' %}">
            </a>
        </logo>
        {% if user.is_authenticated %}
        <div class="mr-4 cursor-pointer md:hidden"  id="header-search-icon">
            <i class="fa-solid fa-magnifying-glass text-xl theme-color"></i>
        </div>
        <div id="search-form-popup" class="hidden absolute z-50 top-2 left-0 w-full p-1">
            <div class="home-search-form w-full p-1 bg-indigo-200 rounded-lg flex justify-start items-center">
                <i class="fa-solid fa-magnifying-glass text-blue-950 pl-2"></i>
                <input  id="sm-search-input" name="search_all" placeholder="Search... " autocomplete="off"
                hx-get="{% url 'search_all' %}"
                hx-trigger="keyup changed"
                hx-target="#all_results"
                hx-swap="innerHTML">
                <i id="header-search-cancel-icon" class="fa-solid fa-times text-2xl text-black cursor-pointer"></i>
            </div>
            <div id="all_results" class="absolute left-0 right-0">
                
            </div>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div x-data="{ dropdownOpen: false }" class="relative md:hidden">
            <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none flex justify-start items-center gap-1">
                {% if user.profile.image %}
                <img class="rounded-full w-7 h-7" src="{{ user.profile.imageURL }}" />
                {% else %}
                <img class="rounded-full w-7 h-7" src="{% static 'images/default.png' %}"/>
                {% endif %}
                {{ user }}
                <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4" src="https://img.icons8.com/small/32/777777/expand-arrow.png"/>
            </a>
            <div x-show="dropdownOpen" x-cloak class="absolute right-0 bg-white text-black shadow rounded-xl w-48 p-2 z-20"
            x-transition:enter="duration-300 ease-out"
            x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
            x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                <ul class="hoverlist [&>li>a]:justify-start">
                    <li style="margin-bottom:-5px;"><a href="{% url 'view-profile' %}"><i class="fa-regular fa-user" style="color:darkblue;font-size:larger;margin-right:10px;"></i>My Profile</a></li>
                    <li style="margin-bottom:-5px;"><a href="{% url 'edit-profile' %}"><i class="fa-solid fa-user-pen" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Edit Profile</a></li>
                    <li style="margin-bottom:-5px;"><a href="{% url 'account_change_password' %}"><i class="fa-solid fa-lock" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Change Password</a></li>
                    <li style="margin-bottom:-5px;"><a href="{% url 'account_reset_password' %}"><i class="fa-solid fa-user-lock" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Reset Password</a></li>
                    <li><a href="{% url 'account_logout' %}"><i class="fa-solid fa-power-off" style="color:red;font-size:larger;margin-right:10px;"></i>Log Out</a></li>
                    
                </ul>
            </div>
        </div>
        {% else %}
        <div><a href="{% url 'account_login' %}" class="text-xl md:hidden"><i class="fa-solid fa-user text-sm theme-color mr-1"></i><span class=" text-lg theme-color ">Login</span></a></div>
        {% endif %}
    </div>
    <nav x-show="mobilenavOpen" x-cloak class="md:hidden h-screen w-[70%] top-0 fixed z-5"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -translate-x-96"
    x-transition:enter-end="opacity-100 translate-x-0">
        <ul class="flex navitems flex-col md:flex-row gap-2 md:gap-0 justify-center h-full -translate-y-10 md:translate-y-0 relative">
            {% if user.is_authenticated %}
            <li class="md:hidden">
                {% if user.profile.image %}
                <img class="rounded-full w-10 h-10" src="{{ user.profile.imageURL }}" />
                {% else %}
                <img class="rounded-full w-10 h-10" src="{% static 'images/default.png' %}"/>
                {% endif %}
            </li>
            <li class="md:hidden">
                {% if profile.realname %}
                <p class="theme-color text-lg"><a href="{% url 'view-profile' %}">{{ user.profile.realname|title }}
                    <span class="text-gray-400 text-sm">@ {{ user.username }}</span></a>
                </p>
                {% else %}
                <p class="theme-color text-xl mb-1"><a href="{% url 'view-profile' %}">{{ user.username|title }}
                    <span class="text-gray-400 text-lg">@ {{ user.username }}</span></a>
                </p>
                {% endif %}
            </li>
            <li class="md:hidden flex flex-wrap justify-start gap-2">
                <p class="text-gray-400"><a href="{% url 'follow_page' user.username %}" ><span class="theme-color">{{user.following.count}} </span>Following</a></p>
                <p class="text-gray-400"><a href="{% url 'follow_page' user.username %}" ><span class="theme-color">{{user.profile.followers.count}} </span>Followers</a></p>
            </li>
            {% endif %}
            <hr>
            <li class="md:hidden">
                <a href="/"><i class="fa-solid fa-house text-lg theme-color mr-3"></i><span id="icon-label" class="text-lg theme-color">Home</span></a>
            </li>
            <li class="md:hidden">
                <a href="/"><i class="fa-solid fa-compass text-lg theme-color mr-3"></i><span id="icon-label" class="text-lg theme-color">Explore</span></a>
            </li>
            <li class="md:hidden">
                <a href="{% url 'post-create' %}"><i class="fa-solid fa-circle-plus text-lg theme-color mr-3"></i><span id="icon-label" class="text-lg theme-color">Add Post</span></a>
            </li>
            <li class="md:hidden inbox-wrapper">
                <div class="notify-container"
                    hx-get="{% url 'notify-inbox' %}"
                    hx-trigger = 'load'
                    hx-target = 'this'
                    hx-swap='innerHTML'>
                </div>
                <a href="{% url 'inbox' %}"><i class="fa-solid fa-envelope text-lg theme-color mr-3"></i>Inbox</a>
            </li>
            <li class="relative">
                <a class="themes-toggle cursor-pointer"><i class="fa-solid fa-pen-to-square text-lg theme-color mr-3 "></i><span class="theme-color text-lg">Themes</span></a>
                <div class="themes hidden rounded-xl p-2 z-20  bg-slate-500 absolute">
                    <i id="themeclose" class="fa-solid fa-times absolute right-1.5 top-0.5 text-xl text-white"></i>
                    <h5 class="theme-title pt-1">Personalize Theme</h5>
                    <div id="theme-options-wrapper">
                        <div data-mode="light" id="light-mode" class="theme-dot"></div>
                        <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                        <div data-mode="green" id="green-mode" class="theme-dot"></div>
                        <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                    </div>
                </div>
            </li>
            <li>
                <a href="{% url 'site_users' %}"><i class="fa-solid fa-users text-lg theme-color mr-3"></i><span id="icon-label" class="text-lg theme-color">Find people</span></a>
            </li>
        </ul>
    </nav>
</header>

<script>
    const themestogglebtn = document.querySelector('.themes-toggle');
    const themes = document.querySelector('.themes');
    const themeclose = document.getElementById('themeclose');

    document.getElementById('header-search-icon').addEventListener('click', function() {
        document.getElementById('search-form-popup').classList.remove('hidden');
        document.getElementById('search-form-popup').classList.toggle('block');
    });

    document.getElementById('header-search-cancel-icon').addEventListener('click', () =>{
        document.getElementById('search-form-popup').classList.add('hidden');
    });

    themestogglebtn.addEventListener('click', function() {
        themes.classList.toggle('hidden');
    });
    themeclose.addEventListener('click', function() {
        themes.classList.add('hidden');
    });
</script>