{% load static %}

<header x-data="{ mobilenavOpen: false }" class="header md:flex items-center justify-between [&>*]:px-7 h-20 text-white top-0 z-40 sticky">
    <div class="flex items-center justify-between h-20">
        <mobileicon class="md:hidden -ml-3">
            <a @click="mobilenavOpen = !mobilenavOpen" class="h-10 w-10 flex items-center justify-center cursor-pointer hover:bg-gray-700 rounded-lg">
                <img x-show="!mobilenavOpen" class="w-6 h-6 select-none" src="https://img.icons8.com/small/64/ffffff/menu.png"/> 
                <img x-show="mobilenavOpen" x-cloak class="w-6 h-6 select-none z-20" src="https://img.icons8.com/small/64/ffffff/delete-sign.png"/>
            </a>
        </mobileicon>    
        <logo class="mr-6">
            <a class="flex items-center gap-3" href="/">
                <img  id="logo-home" class="w-6" src="{% static 'icons/home-logo1.png' %}">
                <span id="heading-home" class="hidden text-lg font-bold md:block">ConnectHive</span>
            </a>
        </logo>
        {% if user.is_authenticated %}
        <div class="mr-4 cursor-pointer md:hidden"  id="header-search-icon">
            <i class="fa-solid fa-magnifying-glass text-xl text-white"></i>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div x-data="{ dropdownOpen: false }" class="relative md:hidden">
            <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none flex justify-start items-center gap-1">
                <img class="h-7 w-7 rounded-full object-cover" src="{{ user.profile.image.url }}" alt="Upload Profile"/>
                {{ user }}
                <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4" src="https://img.icons8.com/small/32/777777/expand-arrow.png"/>
            </a>
            <div x-show="dropdownOpen" x-cloak class="absolute right-0 bg-white text-black shadow rounded-xl w-48 p-2 z-20"
            x-transition:enter="duration-300 ease-out"
            x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
            x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                <ul class="hoverlist [&>li>a]:justify-start">
                    <li style="margin-bottom:-5px;"><a href="{% url 'view-profile' %}"><i class="fa-regular fa-user" style="color:darkblue;font-size:larger;margin-right:10px;"></i>My Profile</a></li>
                    <li style="margin-bottom:-5px;"><a href="{% url 'edit-profile' %}"><i class="fa-solid fa-user-pen" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Edit Profile</a></li>
                    <li style="margin-bottom:-5px;"><a href="{% url 'account_change_password' %}"><i class="fa-solid fa-lock" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Change Password</a></li>
                    <li style="margin-bottom:-5px;"><a href="{% url 'account_reset_password' %}"><i class="fa-solid fa-user-lock" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Reset Password</a></li>
                    <li><a href="{% url 'account_logout' %}"><i class="fa-solid fa-power-off" style="color:red;font-size:larger;margin-right:10px;"></i>Log Out</a></li>
                    
                </ul>
            </div>
        </div>
        {% else %}
        <div><a href="{% url 'account_login' %}" class="text-xl md:hidden">Login</a></div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="relative">
        <form class="hidden home-search-form w-full bg-indigo-200 rounded-lg md:flex justify-start items-center">
            <i class="fa-solid fa-magnifying-glass text-blue-950 pl-2"></i>
            <input role="search" id="search-input" name="search_box"  type="search" placeholder="Search..." />
        </form>
        <ul class="web-search-results absolute h-32 w-56 bg-white text-black rounded-md p-2 hidden">
            <li>Search results found</li>
            <li>No results found</li>
            <li>No results found</li>
        </ul>
    </div>
    {% endif %}
    <nav x-show="mobilenavOpen" x-cloak class="md:!block bg-slate-800 md:bg-transparent h-screen w-[70%] md:h-auto md:w-auto -mt-20 md:mt-0 absolute md:relative z-10"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -translate-x-96"
    x-transition:enter-end="opacity-100 translate-x-0">
        <ul class="flex items-center navitems flex-col md:flex-row gap-2 md:gap-0 justify-center h-full -translate-y-10 md:translate-y-0 relative">
            <li class="hidden md:block ">
                <a href="{% url 'post-create' %}"><i class="fa-solid fa-circle-plus text-orange-500 text-2xl"></i><span>Create</span></a>
            </li>
            <li class="hidden md:block inbox-wrapper">
                <div class="notify-container"
                    hx-get="{% url 'notify-inbox' %}"
                    hx-trigger = 'load'
                    hx-target = 'this'
                    hx-swap='innerHTML'>
                </div>
                <a href="{% url 'inbox' %}"><i class="fa-regular fa-message text-2xl text-orange-500" ></i></a>
            </li>
            {% if user.is_authenticated %}
            <li class="md:hidden">
                <img class="rounded-full w-10 h-10" src="{{ user.profile.image.url }}" />
            </li>
            <li class="md:hidden">
                {% if profile.realname %}
                <p class="text-white text-lg">{{ user.profile.realname|title }}
                <span class="text-gray-400 text-sm">@ {{ user.username }}</span>
                </p>
                {% else %}
                <p class="text-white text-xl mb-1">{{ user.username|title }}
                <span class="text-gray-400 text-lg">@ {{ user.username }}</span>
                </p>
                {% endif %}
            </li>
            <li class="md:hidden flex flex-wrap justify-start gap-2">
                <p href="" class="text-gray-400"><span class="text-white">{{user.following.count}} </span>Following</p>
                <p href="" class="text-gray-400"><span class="text-white">{{user.profile.followers.count}} </span>Followers</p>
            </li>
            {% endif %}
            <hr>
            <li class="md:hidden">
                <a href="/"><i class="fa-solid fa-house text-lg text-white mr-3"></i><span id="icon-label" class="text-lg text-white">Home</span></a>
            </li>
            <li class="md:hidden">
                <a href="/"><i class="fa-solid fa-compass text-lg text-white mr-3"></i><span id="icon-label" class="text-lg text-white">Explore</span></a>
            </li>
            <li class="md:hidden">
                <a href="{% url 'post-create' %}"><i class="fa-solid fa-circle-plus text-lg text-white mr-3"></i><span id="icon-label" class="text-lg text-white">Add Post</span></a>
            </li>
            <li class="md:hidden inbox-wrapper">
                <div class="notify-container"
                    hx-get="{% url 'notify-inbox' %}"
                    hx-trigger = 'load'
                    hx-target = 'this'
                    hx-swap='innerHTML'>
                </div>
                <a href="{% url 'inbox' %}"><i class="fa-solid fa-envelope text-lg text-white mr-3"></i>Inbox</a>
            </li>
            {% if user.is_authenticated %}
            <li x-data="{ dropdownOpen: false }" class="relative hidden md:!block">
                <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none">
                    <img class="h-8 w-8 rounded-full object-cover" src="{{ user.profile.image.url }}" alt="Upload Profile"/>
                    {{ user }}
                    <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4" src="https://img.icons8.com/small/32/777777/expand-arrow.png"/>
                </a>
                <div x-show="dropdownOpen" x-cloak class="absolute right-0 bg-white text-black shadow rounded-xl w-48 p-2"
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                    <ul class="hoverlist [&>li>a]:justify-start">
                        <li style="margin-bottom:-5px;"><a href="{% url 'view-profile' %}"><i class="fa-regular fa-user" style="color:darkblue;font-size:larger;margin-right:10px;"></i>My Profile</a></li>
                        <li style="margin-bottom:-5px;"><a href="{% url 'edit-profile' %}"><i class="fa-solid fa-user-pen" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Edit Profile</a></li>
                        <li style="margin-bottom:-5px;"><a href="{% url 'account_change_password' %}"><i class="fa-solid fa-lock" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Change Password</a></li>
                        <li style="margin-bottom:-5px;"><a href="{% url 'account_reset_password' %}"><i class="fa-solid fa-user-lock" style="color:darkblue;font-size:larger;margin-right:10px;"></i>Reset Password</a></li>
                        <li><a href="{% url 'account_logout' %}"><i class="fa-solid fa-power-off" style="color:red;font-size:larger;margin-right:10px;"></i>Log Out</a></li>
                        
                    </ul>
                </div>
            </li>
            {% else %}
            <li class="hidden md:!block"><a href="{% url 'account_login' %}" class="text-xl">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<style>
    #header-search-icon {
        display:none;
    }
    #header-search-cancel-icon {
        position: absolute;
        top:50px;
        right:50px;
        color:white;

    }
    .home-search-form{
        max-width:300px;
        width:100%;
    }
    #search-form-popup {
        display:none;
        position: fixed;
        z-index:1000;
        margin:0 auto;
        left:0;
        top:-10%;
        width:100%;
        height:100%;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.9);
        justify-content: center;
        padding:10px;
        align-items:center;
    }

    #search-form-popup.active {
        display:flex;
        top:0;
        transition: 5s ease-in-out;
    }
    @media (max-width: 768px) {
        #header-search-icon {
        display:block;
    }
    }

</style> 
<div  id="search-form-popup" >
    <div class="cursor-pointer"  id="header-search-cancel-icon">
        <i class="fa-solid fa-times text-xl text-white"></i>
    </div>
    <form class="home-search-form bg-indigo-200 rounded-2xl flex justify-between items-center">
        <i class="fa-solid fa-magnifying-glass" style="color:rgb(10, 4, 83);padding-left: 10px;"></i>
        <input role="search" name="search_box"  type="search" placeholder="Search..." />
    </form>
</div>

<script>
    const searchbtn = document.getElementById('header-search-icon');
    const searchform = document.getElementById('search-form-popup');
    const searchcancelbtn = document.getElementById('header-search-cancel-icon')  
    const searchinput = document.getElementById('search-input');
    const websearchresults = document.querySelector('.web-search-results');


    searchbtn.addEventListener('click', function() {
        searchform.classList.add('active');
    });

    searchcancelbtn.addEventListener('click', () =>{
        searchform.classList.remove('active');
    });

    searchinput.addEventListener('click', function() {
        websearchresults.classList.toggle('hidden');
    });
</script>
</script>