<hero class="grid bg-gray-700 text-white text-center bg-cover  z-10 relative bg-[url('https://live.staticflickr.com/65535/53233844006_aa3a8afc3b_c.jpg')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="font1 text-6xl title-fadein">Colltech Awesome Photos & Captions</h1>
        <p class="text-lg font-bold mb-5">Share your favorite Photos from Flickr and add a great caption</p>
        <a class="button" href="{% url 'post-create' %}">Get Started</a>
    </div>
</hero>
