<style>
    .message-box {
        display:flex;
        gap:10px;
        justify-content: center;
        align-items: center;
        color:white; 
        background-color: rgb(220, 158, 13);
        padding:10px; 
        border-radius:8px;
        max-width:500px;
        width:100%;
        position:fixed; 
        top:20px;
        left:50%;
        text-align: center;
        transform: translateX(-50%);
        opacity:0;
        z-index:50;
        animation: animate  6s ease-in-out;
    }
    .message-box.hidden{
        display:none;
    }

    .fa-xmark {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:20px;
        font-size:20px;
        cursor:pointer;
    }
    
@keyframes animate {
    0% { opacity: 0; transform: translate(-50%, -40px); }
    30% { opacity: 1; transform: translate(-50%, 0); }
    90% { opacity: 1; transform: translate(-50%, 0); }
    100% { opacity: 0; transform: translate(-50%, -50px); }
}
</style>
{% if messages %}
    {% for message in messages %}
        <div class="message-box">
            <i class="fa-solid fa-bolt"></i>
            {{ message }}
            <i class="fa-solid fa-xmark"></i>
        </div>
    {% endfor %}
{% endif %}

<script>
    const xbuttons = document.getElementsByClassName('fa-xmark');
    const messageBoxes = document.getElementsByClassName('message-box');

    for (let i = 0; i < xbuttons.length; i++) {
        xbuttons[i].addEventListener('click', function() {
            messageBoxes[i].classList.add('hidden');
        });
    }
</script>