<div class="mb-6 mr-3 mt-2.5 relative z-40 ">
    <div class="hidden home-search-form w-full bg-indigo-200 rounded-lg md:flex justify-start items-center">
        <i class="fa-solid fa-magnifying-glass text-blue-950 pl-2"></i>
        <input role="search" id="search-input" name="search_all"  type="search" placeholder="Search..."
        hx-get="{% url 'search_all' %}"
        hx-trigger="keyup changed"
        hx-target="#search_all_results"
        hx-swap="innerHTML">
    </div>
    <div id="search_all_results" class="absolute left-0 right-0">
        
    </div>
</div>