{% extends 'layouts/b.html' %}

{% block title %} 404- Page Not Found {% endblock %}

{% block content %}
{% load static %}


<div style="margin:50px auto; text-align:center; width:100%; max-width:500px;">
    <img style="margin-left:60px;width:100%;" src="{% static 'icons/error.png' %}" alt="404-img" >
    <h1 style="color:red;">Page not found</h1>
    <p class="my-6 mb-8 theme-color"><b>404 ERROR - This page doesn't exist or is unavailable</b></p>
    <a class="successbtn" href="/">Homepage</a>
</div>
{% endblock %}