<div>
    {% if user.is_authenticated %}
    <p style="display:flex;  gap:8px;" >
        <a style="cursor:pointer;" 
        hx-get="{% url 'like-note' note.id %}"
        hx-target="closest div"
        hx-swap="outerHTML">
        {% if user in note.likes.all %}
        <img width="21px" src="/media/icons/redheart.png">
        {% else %}
        <img width="21px" src="/media/icons/whiteheart.png">
        {% endif %}
        </a>
        {{ note.likes.count }}
    </p>
    {% endif %}
</div>