<div>
    {% if user.is_authenticated %}
    <p style="display:flex;  gap:8px;" >
        <a style="cursor:pointer;" 
        hx-get="{% url 'like-note' note.id %}"
        hx-target="closest div"
        hx-swap="outerHTML">
        {% if user in note.likes.all %}
        <i style="font-size:19px;" class="fa-regular fa-thumbs-up text-red-500"></i>
        {% else %}
        <i style="font-size:19px;" class="fa-regular fa-thumbs-up text-blue-900 hover:text-red-600"></i>
        {% endif %}
        </a>
        {{ note.likes.count }}
    </p>
    {% endif %}
</div>