<div>
    {% if user.is_authenticated %}
        <p style='display:flex; flex-wrap:wrap; gap:10px;cursor:pointer'>
            <a  
            hx-get="{% url 'like-post-comment' comment.id %}"
            hx-target="closest div"
            hx-swap="outerHTML">
            {% if user in comment.likes.all %}  
            <i style="font-size:19px;" class="fa-regular fa-thumbs-up text-red-500"></i>
            {% else %}
            <i style="font-size:19px;" class="fa-regular fa-thumbs-up text-blue-900 hover:text-red-600"></i>
            {% endif %}</a>
            {{ comment.likes.count }}
        </p>
    {% endif %}
</div> 