
        <reply class="flex items-end justify-between py-4 border-t">
            <div class="flex">
                <a href="{% url 'userprofile' reply.author.username %}">
                    <img class="w-8 h-8 object-cover rounded-full mr-2" src="{{ reply.author.profile.image.url }}">
                </a>
                <div class="w-fit">
                    <a class="block" href="{% url 'userprofile' reply.author.username %}">
                        <span class="font-bold hover:underline">{{ reply.author.profile.realname }}</span>
                        <span class="text-sm text-gray-400">@ {{ reply.author.username }}</span>
                    </a>
                    <div class="mr-3">{{ reply.body }}</div>
                </div>
            </div>
            <div class="flex gap-4 [&>a:hover]:underline">
                {% include 'snippets/post_comment_reply_likes.html' %}
                {% if user.is_superuser or user == reply.author %}
                <a href="{% url 'post-comment-reply-delete' reply.id %}"><i class="fa-regular fa-trash-can" style="color:darkblue;font-size:17px;"></i></a>
                {% endif %}
            </div>
        </reply>