<div>
{% if user.is_authenticated %}
{% load static %}
    <p style='display:flex; gap:10px;cursor:pointer; align-items: center;'>
        <a  
        hx-get="{% url 'like-post' post.id %}"
        hx-target="closest div"
        hx-swap="outerHTML">
        {% if user in post.likes.all %}   
        <img width="19" src="{% static 'icons/redheart.png' %}">
        {% else %}
        <img width="19" src="{% static 'icons/whiteheart.png' %}">
        {% endif %}</a>
        {{  post.likes.count }}
    </p>
{% endif %}
</div>