<div>
    {% if user.is_authenticated %}
        {% load static %}
        <p style='display:flex; flex-wrap:wrap; gap:10px;cursor:pointer'>
            <a  
            hx-get="{% url 'like-post-comment-reply' reply.id %}"
            hx-target="closest div"
            hx-swap="outerHTML">
            {% if user in reply.likes.all %}  
            <img width="19" src="{% static 'icons/redheart.png' %}">
            {% else %}
            <img width="19" src="{% static 'icons/whiteheart.png' %}">
            {% endif %}</a>
            {{ reply.likes.count }}
        </p>
    {% endif %}
    </div>