{% extends 'base.html' %}

{% block layout %}
<style>
    .input-x {
        border-radius:25px;
        background:rgb(216, 223, 255);
        padding:8px;
        cursor:pointer;
        width:100%;
    }
    .input-x::placeholder {
        color:rgb(10, 4, 83);
        padding-left:5px;
        font-size: 14px;
    }
    .postbtn {
        border-radius:20px;
        background:rgb(242, 169, 68);
        padding:7px 17px;
        color:white;
    }
    #main-content {
        border-right:.2px solid rgb(65, 71, 113);
        border-left:.2px solid rgb(65, 71, 113);
    }
    .home-tabs {
        border-bottom:.2px solid rgb(65, 71, 113);
        padding-top:20px;
      
    }
    
    @media (min-width: 768px) {
        .input-x::placeholder {
        text-align: center;
        font-size: 15px;
    }
    }
    @media (max-width: 768px) {
        #main-content {
        border-left:none;
        border-right:none;
    }
    input .iput-x::placeholder {
        font-size: 13px;
    }
    .postbtn {
        padding:5px 10px;
    }
    }
</style>

<aside class="menu-div hidden md:block md:h-full md:w-[22%] fixed left-3 top-28">
    {% include 'includes/left_sidebar.html' %}
</aside>
<content x-data="{ mobileSidebarOpen: false }" class="grid grid-cols-3 max-w-7xl mx-auto my-6 md:ml-[25%]">
    <main id="main-content" class="mx-1 col-span-full md:col-span-2 md:mr-5 md:-mt-8">
        <div class="home-tabs flex gap-4 justify-evenly items-end text-lg font-semibold">
            <p class="tab selected">Following</p>
            <p class="tab">For You</p>
            <p class="tab">Your Tags</p>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'post-create' %}"  class=" flex gap-2 justify-center items-center p-4 pt-6">
            <img class="h-8 w-8 md:h-10 md:w-10 rounded-full object-cover" src="{{ user.profile.image.url }}" alt="Upload Profile"/>
            <input class="input-x" type="text" placeholder="What's on your mind, {{user.username|title}}?">
            <button class="block ml-2 postbtn">Post</button>
        </a>
        {% endif %}
        <div class="md:p-6">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <div class="sidebar-div">
        {% load sidebar %}
        {% sidebar_view tag user %}
        {% include "includes/right_sidebar_follow.html" %}
    </div>
</content>

{% endblock %}






<!---

    <mobileSidebarNav class="md:hidden col-span-full mx-auto mb-6 z-10 relative">
        <a @click="mobileSidebarOpen = !mobileSidebarOpen" class="flex items-center cursor-pointer select-none font-bold hover:bg-gray-200 rounded-lg p-3">
            <span>Categories</span>
            <img x-bind:class="mobileSidebarOpen && 'rotate-180 duration-300'" class="w-4 ml-1.5" src="https://img.icons8.com/small/32/000000/expand-arrow.png" />
        </a>
    </mobileSidebarNav>

-->