{% extends 'base.html' %}

{% block layout %}
<style>
    #main-content {
        min-height:100vh;
        border-right:.1px solid var(--borderColor);
        border-left:.1px solid var(--borderColor);
    }

    @media (max-width: 768px) {
        #main-content {
        border-left:none;
        border-right:none;
    }
    }
</style>
<content x-data="{ mobileSidebarOpen: false }" class="grid grid-cols-4  max-w-7xl mx-auto">
    <aside class="pl-6 hidden md:block md:col-span-1">
        {% include 'includes/left_sidebar.html' %}
    </aside>
    <main id="main-content" class="col-span-full md:col-span-2 relative">
            <div class="md:hidden mobile-nav">
                {% include 'includes/header.html' %}
            </div>
        <div class="p-2">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <aside class="right-aside md:col-span-1 py-3 px-5">
        {% include "includes/search.html" %}
        {% load sidebar %}
        {% sidebar_view tag user %}
        {% include "includes/right_sidebar_follow.html" %}
    </aside>
</content>
{% endblock %}