{% extends 'base.html' %}

{% block layout %}
<style>
    #main-content {
        border-right:.1px solid rgb(65, 71, 113);
        border-left:.1px solid rgb(65, 71, 113);
    }
    .home-tabs {
        border-bottom:.1px solid rgb(65, 71, 113);
       
        white-space: nowrap;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer/Edge */
    }
    .home-tabs::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 768px) {
        #main-content {
        border-left:none;
        border-right:none;
    }
    }
</style>
<content x-data="{ mobileSidebarOpen: false }" class="grid grid-cols-4  max-w-7xl mx-auto">
    <aside class="pl-6 hidden md:block md:col-span-1">
        {% include 'includes/left_sidebar.html' %}
    </aside>
    <main id="main-content" class="col-span-full md:col-span-2 relative">
            <div class="md:hidden mobile-nav">
                {% include 'includes/header.html' %}
            </div>
        <div class="md:p-2">
            {% block content %}
            {% endblock %}
        </div>
        <a id="postCreateBtn" class="hidden md:hidden fixed bottom-4 right-4 py-2 px-4 rounded-full theme-color text-lg" href="{% url 'post-create' %}"><i class="fa-solid fa-plus theme-color text-lg"></i></a>
    </main>
    <aside class="right-aside md:col-span-1 py-3 px-5">
        {% include "includes/search.html" %}
        {% load sidebar %}
        {% sidebar_view tag user %}
        {% include "includes/right_sidebar_follow.html" %}
    </aside>
</content>
{% endblock %}