{% extends "layouts/d.html" %}
{% block title %} Inbox {% endblock %}



{% block content %}
<style>
    * {
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
    .inbox-container {
        display:grid;
        grid-template-columns:1fr 3fr;
        background:rgb(241,240,253);
        border-radius: 12px;
        box-shadow: 0 0 12px 0 rgba(255,255,255,.3);
        max-width:1000px;
        min-height:400px;
        margin:20px auto;
        position:relative;
    }
    .contact-inbox {
        padding:20px;
        position: relative;
    }
    .contact-inbox a  {
        display:flex;
        gap:10px;
        flex-wrap:wrap;
        margin-bottom:15px;
        padding:10px 10px;
        border-radius:10px;
        
    }

    .contact-inbox a:hover  {
        background:rgb(197, 198, 210);
        border-radius:10px;
    }
    .contacts-wrapper {
        padding:20px 10px;
    }

    .messages-wrapper {
        padding:30px;
        background:white;
    }
    .new-message {
        display:flex;
        justify-content: center;
        align-items: center;
        background:blue;
        padding:10px 25px;
        border-radius: 20px;
        text-align: center;
        color:white;
        cursor:pointer;
    }
    .sent-message-box {
        display:flex;
        flex-wrap: nowrap;
        gap:20px;
        justify-content: flex-start;
        margin-bottom:20px;
    }

    .inbox-sender-details {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:50px;
    }
    


    @media (max-width:768px) {
        .inbox-container {
            grid-template-columns:100%;
            margin:0 auto;
            margin-top:-24px !important;
        }
        .messages-wrapper {
            padding:10px;
        }
        .sent-message-box {
            flex-wrap: wrap;
        }
        .new-message {
            margin-top:25px;
        }
        .contacts-wrapper {
            padding:20px 10px;
            position:fixed;
            left:-40px;
            top:11.5%;
            width:60%;
            height:100vh;
            background-color: rgb(197, 198, 210);
            clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        }
        .contacts-wrapper.active {
           clip-path: none;
           left:0;
           transition:.4s ease-in-out;
        }

        .inbox-sender-details {
            margin-bottom:5px;
        }

    }

</style>
    <div class="inbox-container">
        <div id="chats-open-menubars" class="absolute md:hidden bg-gray-200 p-2 font-semibold"><i class="fa-solid fa-user-group text-lg text-blue-800"></i><span class="pl-2 text-lg text-blue-800">Chats</span></div>
        <div class="contacts-wrapper">
            <i id="chats-cancel-btn" class="fa-solid fa-xmark absolute md:hidden right-4 top-2 text-2xl text-red-600"></i>
            <a id="new-message-button" class="new-message"> <i class="fa-regular fa-pen-to-square mx-2"></i>New Message</a>
            {% include 'a_inbox/my_conversations.html' %}
        </div>
        {% include 'a_inbox/search_users.html' %}
        <div class="messages-wrapper">
        {% include 'a_inbox/messages.html' %}
        </div>
    </div>

    <script>
        const messagebtn = document.getElementById('new-message-button');
        const searchpopup= document.getElementById('popup-layout');
        const cancelbtn= document.getElementById('cancelbtn');
        const openchatsbtn= document.getElementById('chats-open-menubars');
        const conversationslist = document.querySelector('.contacts-wrapper');
        const chatsclosebtn = document.querySelector('#chats-cancel-btn');

        messagebtn.addEventListener('click',function() {
            searchpopup.style.display='flex';
        });

        cancelbtn.addEventListener('click',function() {
            searchpopup.style.display='none';
        });

        openchatsbtn.addEventListener('click',function() {
            conversationslist.classList.add('active');
        });

        chatsclosebtn.addEventListener('click',function() {
            conversationslist.classList.remove('active');
        });
    </script>
{% endblock %}