{% extends "layouts/d.html" %}
{% block title %} Inbox {% endblock %}



{% block content %}
<style>
    * {
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
    .inbox-container {
        display:grid;
        grid-template-columns:1fr 3fr;
        background:rgb(241,240,253);
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(255,255,255,.3);
        max-width:1000px;
        width:100%;
        margin:20px auto;
    }
    .contact-inbox {
        padding:20px;
    }
    .contact-inbox a  {
        display:flex;
        gap:10px;
        flex-wrap:wrap;
        margin-bottom:15px;
        padding:10px 10px;
        background:rgb(240,241,253,0.3);
        border-radius:10px;
        
    }

    .contact-inbox a:hover  {
        background:rgb(197, 198, 210);
        border-radius:10px;
    }
    .contacts-wrapper {
        padding:20px 10px;
    }
    .messages-wrapper {
        padding:30px;
        background:white;
    }
    .new-message {
        display:flex;
        justify-content: center;
        align-items: center;
        background:blue;
        padding:10px 25px;
        border-radius: 20px;
        text-align: center;
        color:white;
    }
    .sent-message-box {
        display:flex;
        flex-wrap: nowrap;
        gap:20px;
        justify-content: flex-start;
        margin-bottom:20px;
    }
    @media (max-width:768px) {
        .inbox-container {
            grid-template-columns:100%;
        }
        .messages-wrapper {
            padding:10px;
        }
        .sent-message-box {
            flex-wrap: wrap;
        }
    }

</style>
    <div class="inbox-container">
        <div class="contacts-wrapper">
            <a href="" class="new-message"> <i class="fa-regular fa-pen-to-square mx-2"></i>New Message</a>
            {% include 'a_inbox/my_conversations.html' %}
        </div>

        <div class="messages-wrapper">
        {% include 'a_inbox/messages.html' %}
        </div>
    </div>
{% endblock %}