{% load static %}

{% if conversation %}
    {% for participant in conversation.participants.all %}
        {% if participant != request.user %}
        <div style="display: flex;align-items: center;justify-content: center;">
            <img style="width:40px;height:40px; border-radius:50%; object-fit:cover;"  src="{{participant.profile.image.url}}" alt="...">
        </div>
        
        <div class="inbox-sender-details" >
            <a href="{% url 'userprofile' participant.username %}">
                <p>{{participant.profile.realname}}<span class="ml-1">@{{participant.username}}</span></p>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    <!--Message-->
    {% for message in conversation.messages.all reversed %}
    <div id="conversations" class="sent-message-box">
        {% if message.sender.profile.image.url %}
        <img style="width:35px;height:35px; border-radius:50%; object-fit:cover;" src="{{message.sender.profile.image.url}}" alt="...">
        {% else %} 
        <img style="width:35px;height:35px; border-radius:50%; object-fit:cover;" src="{% static 'images/default.png' %}" alt="...">
        {% endif %}
        <div style="border:1px solid #ccc; padding:10px; border-radius: 10px; width:100%;">
            <div style="display:flex;justify-content: space-between;">
                <a href="{% url 'userprofile' message.sender.username %}" style="font-size: 13px;color:darkblue;"><b>{{message.sender.profile.realname}}</b><span style="padding-left:5px;">@{{message.sender.username}}</span></a>
                <p style="font-size: 13px;color:darkblue;">{{message.created_at}} ({{message.created_at|timesince}})</p>
            </div>
            <P class="whitespace-pre-wrap">{{message.body_decrypted}}</P>
        </div>
    </div>
    {% endfor %}
    <!--Reply button-->
    <div style="margin-top:50px;margin-bottom:20px;" class="hover:cursor-pointer">
        <a style="padding:8px 15px;background:rgb(37, 36, 36);color:white;border-radius:25px;" 
        hx-get="{% url 'inbox-newreply' conversation.id %}"
        hx-target="this"
        hx-swap="outerHTML scroll:#conversations:bottom">
        <i class="fa-solid fa-reply mx-2"></i>Reply</a>
    </div>
{% else %}
<P class="flex h-full items-center justify-center p-3"><i class="fa-solid fa-circle-plus mx-2"></i> Select a conversation or create a new message</P>
{% endif %}