{% load static %}
{% if conversation %}
<div class="all_messages h-[100vh]">
    {% for participant in conversation.participants.all %}
    {% if participant != request.user %}
    <div>
        {% if participant.profile.image %}
        <div class="flex items-center justify-center">
            <img class="w-9 h-9 object-cover rounded-full"  src="{{participant.profile.imageURL}}" alt="...">
        </div>
        {% else %}
        <div class="flex items-center justify-center">
            <img class="w-9 h-9 object-cover rounded-full"  src="{% static 'images/default.png' %}" alt="...">
        </div>
        {% endif %}
        <div class="flex items-center justify-center text-lg mb-2" >
            <a href="{% url 'userprofile' participant.username %}">
                <p class="theme-color">{{participant.profile.realname}}<span class="ml-1 theme-color">@{{participant.username}}</span></p>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <!--Message-->
    <div class="conversation_list overflow-y-auto  h-[80vh]">
        {% for message in conversation.messages.all reversed %}
        {% if message.sender == request.user %}
        <div id="conversation" class="flex flex-nowrap gap-2 justify-start mb-5">
            {% if message.sender.profile.image %}
            <img class="w-8 h-8 rounded-full object-cover" src="{{message.sender.profile.imageURL}}" alt="...">
            {% else %} 
            <img class="w-8 h-8 rounded-full object-cover" src="{% static 'images/default.png' %}" alt="...">
            {% endif %}
            <div class="bg-indigo-200 py-2 px-4 w-full rounded-br-3xl rounded-tr-3xl rounded-bl-3xl relative">
                <a href="{% url 'userprofile' message.sender.username %}" style="font-size: 13px;color:darkblue;margin-bottom: 10px;"><b>{{message.sender.profile.realname}}</b><span style="padding-left:5px;">@{{message.sender.username}}</span></a>
                <P class="whitespace-pre-wrap text-black mb-3">{{message.body_decrypted}}</P>
                <p style="font-size: 13px;color:rgba(0,0,255,.5);margin-bottom: 10px;">{{message.created_at}} ({{message.created_at|timesince}} ago.)</p>
            </div>
        
        </div>
        {% else %}
        <div id="conversation" class="flex flex-nowrap gap-2 justify-start mb-5">
            <div class="bg-gray-300 py-2 px-4 w-full rounded-br-3xl rounded-tl-3xl rounded-bl-3xl">
                <a href="{% url 'userprofile' message.sender.username %}" style="font-size: 13px;color:darkblue;margin-bottom: 10px;"><b>{{message.sender.profile.realname}}</b><span style="padding-left:5px;">@{{message.sender.username}}</span></a>
                <P class="whitespace-pre-wrap text-black mb-3">{{message.body_decrypted}}</P>
                <p style="font-size: 13px;color:rgba(0,0,255,.5);margin-bottom: 10px;">{{message.created_at}} ({{message.created_at|timesince}} ago.)</p>
            </div>
            {% if message.sender.profile.image %}
            <img class="w-8 h-8 rounded-full object-cover" src="{{message.sender.profile.imageURL}}" alt="...">
            {% else %} 
            <img class="w-8 h-8 rounded-full object-cover" src="{% static 'images/default.png' %}" alt="...">
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
         <!--Reply button-->
        <div class="hover:cursor-pointer mt-8 mb-24">
            <a class="py-2 px-4 bg-gray-800 text-white rounded-3xl" 
            hx-get="{% url 'inbox-newreply' conversation.id %}"
            hx-target="this"
            hx-swap="outerHTML scroll:#conversations:bottom">
            <i class="fa-solid fa-reply mx-2"></i>Reply</a>
        </div>
    </div>
{% else %}
    <P class="flex h-full items-center justify-center p-3 theme-color"><i class="fa-solid fa-circle-plus text-lg mx-2"></i> Select a conversation or create a new message</P>
</div>
{% endif %}

