{% extends 'layouts/allauth.html' %}

{% block title %} Edit Profile- {{ user.profile.realname }} {% endblock %}

{% block content %}
{% load static %}
<style>
    :root {
    --bg-image-fallback-url: url('{% static 'images/profile_bg.jpg' %}');
    }
    .profile-edit-form input {
    padding:12px;
    }
</style>
<div class="profile-edit-page">
  <h2 class="text-blue-900 mb-2 text-center">Edit Profile</h2>
{% if user.profile.profilebackground %}
<div id="bg" class="text-center flex flex-col items-center"  style="background-image:url('{{user.profile.profilebackgroundURL}}');background-size: cover;background-position: center center;background-repeat: no-repeat;">
    {% if user.profile.profile.image %}
    <img id="avatar" class="w-20 h-20 rounded-full object-cover mb-4" src="{{ user.profile.image.url }}"/>
    {% else %}
    <img id="avatar" class="w-20 h-20 rounded-full object-cover mb-4" src="{% static 'images/default.png' %}"/>
    {% endif %}
    <div class="text-center max-w-md bg-white p-2 rounded-md">
        <h2 id="realname">{{ user.profile.realname }}</h2>
        <div class="text-gray-400 mb-2 -mt-3">@{{ user.username }}</div>
    </div>
</div>
{% else %}
<div id="bg" class="text-center flex flex-col items-center"  style="background-image:var(--bg-image-fallback-url);background-size: cover;background-position: center center;background-repeat: no-repeat;">
    {% if user.profile.profile.image %}
    <img id="avatar" class="w-20 h-20 rounded-full object-cover mb-4" src="{{ user.profile.image.url }}"/>
    {% else %}
    <img id="avatar" class="w-20 h-20 rounded-full object-cover mb-4" src="{% static 'images/default.png' %}"/>
    {% endif %}
    <div class="text-center max-w-md bg-white p-2 rounded-md">
        <h2 id="realname">{{ user.profile.realname }}</h2>
        <div class="text-gray-400 mb-2 -mt-3">@{{ user.username }}</div>
    </div>
</div>
{% endif %}
<form method="POST" enctype="multipart/form-data" class="profile-edit-form mb-5">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="successbtn" type="submit" >Save</button>
    <a class="editbtn ml-1" href="{{ request.META.HTTP_REFERER }}">Abort</a>
</form>
<a class="delete-profile flex justify-center hover:underline " href="{% url 'delete-profile' %}"><span class="text-blue-950 hover:text-red-700 hover:text-xl text-decoration-none ">Delete Profile</span></a>


<script>
    // This updates the avatar
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    const image = document.querySelector('#avatar');

    if (file && file.type.includes('image')) {
        const url = URL.createObjectURL(file);
        image.src = url;
    }
    });

    // This updates the name
    const realnameInput = document.getElementById('id_realname');
    const realnameOutput = document.getElementById('realname');

    realnameInput.addEventListener('input', (event) => {
    realnameOutput.innerText = event.target.value;
    });

</script>
</div>
{% endblock %}