{% extends 'layouts/profile_layout.html' %}

{% block title %} Follow- {{profile.realname }} {% endblock %}

{% block content %}
{% load static %}
<a href="{{ request.META.HTTP_REFERER }}"><i class="md:hidden fa fa-arrow-left ml-2 mr-2 theme-color font-bold text-lg"></i><span class="theme-color md:hidden">{{profile.realname}}@{{profile.user.username}}</span></a>
<ul class="theme-color h-[100vh]">
    <div class=" p-2 md:p-4  flex justify-start gap-4 md:gap-8 items-center text-lg font-semibold bg-slate-500" 
    hx-target="#follow-page-content" 
    hx-swap="innerHTML"
    _="on htmx:afterOnLoad take .selected for event.target">
        <a hx-get="{% url 'follow_page' profile.user.username %}" class="tab p-1 selected">Followers</a>
        <a hx-get="{% url 'follow_page' profile.user.username %}?following" class="tab p-1">Following</a>
    </div>
    <div id="follow-page-content">
        {% include 'snippets/loop_followers.html' %}
    </div>
   
</ul>
{% endblock %}