{% extends 'layouts/profile_layout.html' %}

{% block title %} Follow- {{profile.realname }} {% endblock %}

{% block content %}
{% load static %}
<style>
 .follow-tab{
        border-bottom:.1px solid var(--borderColor);
    }
</style>
<div class="flex justify-start items-center py-2.5 px-3">
    <a href="{{ request.META.HTTP_REFERER}}"><i class="fa fa-arrow-left-long mr-4 theme-color text-lg"></i></a>
    <p class="theme-color text-lg font-semibold">{{profile.realname}}<span class="opacity-60 font-normal">@{{profile.user.username}}</span></p>
</div>
<ul class="theme-color h-[100vh]">
    <div class="pl-2 pt-2 flex justify-start gap-4 md:gap-8 items-center text-lg follow-tab" 
    hx-target="#follow-page-content" 
    hx-swap="innerHTML"
    _="on htmx:afterOnLoad take .selected for event.target">
        <a hx-get="{% url 'follow_page' profile.user.username %}" class="tab pl-2 selected theme-color">Followers</a>
        <a hx-get="{% url 'follow_page' profile.user.username %}?following" class="tab pl-2 theme-color">Following</a>
    </div>
    <div id="follow-page-content">
        {% include 'snippets/loop_followers.html' %}
    </div>
   
</ul>
{% endblock %}