{% extends 'layouts/profile_layout.html' %}

{% block title %} Following- {{profile.realname }} {% endblock %}

{% block content %}
<style>
.hr{
    border:.1px solid darkblue;
    opacity: .4;
    margin-bottom:25px;
}
</style>
{% load static %}
<ul class="p-6 !pl-2 bg-white text-blue-900 h-[100vh]">
    <div class="flex justify-start mb-2">
        <a href="{{ request.META.HTTP_REFERER }}"><i class="md:hidden fa fa-arrow-left mr-4 text-blue-900 font-bold text-lg"></i></a>
        <p class="text-blue-900 font-bold text-lg">Following</p>
    </div>
    <hr class="hr">
    {% for followed_profile in following %}
    <li class="flex justify-between items-center p-2 mb-2 hover:shadow-lg rounded-lg">
        <div class="flex justify-start items-center" >
            <img class="h-8 w-8 rounded-full object-cover mr-2" src="{{ followed_profile.image.url }}" alt="Upload Profile"/>
            <a href="{% url 'userprofile' followed_profile.user.username %}" class="text-lg text-blue-900">{{ followed_profile.realname }}<span class="opacity-70 text-blue-900 text-sm">@{{ followed_profile.user.username }} </span></a>
        </div>
        <form action="{% url 'unfollow_user' username=followed_profile.user.username %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="text-sm py-1 px-4 bg-blue-600 hover:bg-orange-500 hover:text-white rounded-xl  text-white text-center">Unfollow</button>
        </form>
    </li>
    {% empty %}
    <li class="flex items-center justify-center text-blue-800 text-lg">Not following anyone yet.</li>
    {% endfor %}
</ul>
{% endblock %}