{% extends 'layouts/profile_layout.html' %}

{% block title %} Profile- {{ user.profile.realname }} {% endblock %}

{% block content %}
{% load static %}
<div >
    <img class="w-full h-40 md:h-48 object-cover" src="{% static 'images/profilebg.jpg' %}">
</div>
<div class="text-white px-4 pb-2">
    <div class="flex justify-between items-center">
        <img class="border-solid border-white rounded-full w-24 h-24 -mt-14 ml-3" src="{{ profile.image.url }}" />
        <div class="flex justify-start gap-3 items-center">
            {% if user == profile.user %}
            <div class="block md:hidden">
                <a href="{% url 'edit-profile' %}" class="py-2 pl-4 pr-2 bg-orange-400 rounded-full text-white text-center"><i class="fa-regular fa-pen-to-square mr-2" style="color: #f3f4f7;"></i></a>
            </div>
            <div class="hidden md:block">
                <a href="{% url 'edit-profile' %}" class="text-sm py-2 px-4 bg-orange-400 rounded-3xl  text-white text-center"><i class="fa-regular fa-pen-to-square mr-2" style="color: #f3f4f7;"></i>Edit Profile</a>
            </div>
            {% endif %}
            {% if request.user != profile.user %}
                {% if request.user in profile.followers.all %}
                <form method="POST" action="{% url 'unfollow_user' username=profile.user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="text-sm py-2 px-4 bg-orange-400 rounded-3xl text-white text-center">Unfollow</button>
                </form>
                {% else %}
                <form method="POST" action="{% url 'follow_user' username=profile.user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="text-sm py-2 px-4 bg-orange-400 rounded-3xl text-white text-center">Follow</button>
                </form>
                {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="mt-4">
        {% if profile.realname %}
        <p class="text-white text-2xl mb-3"><b>{{ profile.realname|title }}</b>
            <span class="text-gray-400 text-xl">@ {{ profile.user.username }}</span>
        </p>
        {% else %}
        <p class="text-white text-2xl mb-3"><b>{{ profile.user.username|title }}</b>
            <span class="text-gray-400 text-xl">@ {{ profile.user.username }}</span>
        </p>
        {% endif %}

        {% if profile.bio %}
        <p><i class="fa-solid fa-briefcase text-orange-500 mr-2 mb-3"></i>{{ profile.bio }}</p>
        {% else %}
        <p><i class="fa-solid fa-briefcase text-orange-500 mr-2 mb-3"></i>Hello people!</p>
        {% endif %}

        <div class="flex flex-wrap justify-start gap-3 md:gap-6 items-center ">
            <p class="text-gray-400"><span class="text-white">{{post_count}} </span>Posts</p>
            {% if profile.location %}
            <p><i class="fa-solid fa-map-pin text-orange-500 mr-2"></i><span class="text-gray-400">{{ profile.location }}</span></p>
            {% else %}
            <p><i class="fa-solid fa-map-pin text-orange-500 mr-2"></i><span class="text-gray-400">Planet Mars</span></p>
            {% endif %}
            {% if user.is_authenticated %}
            <p class="text-gray-400"><i class="fa-regular fa-calendar text-orange-500 mr-2"></i>Joined {{user.profile.created|date:'F Y'}}</p>
            {% endif %}
            <p class="text-gray-400"><span class="text-white">{{profile.followers.count}} </span>Followers</p>
            <p class="text-gray-400"><span class="text-white">{{profile.user.following.count}} </span>Following</p>
        </div>
    </div> 
    <div class="flex justify-between items-start flex-wrap">
        <ul class="p-2 bg-gray-200 rounded-2xl text-blue-900">
            <p class="text-orange-500 text-xl font-semibold">Followers:</p>
            {% for follower in followers %}
                <li>{{ follower.username }}</li>
            {% empty %}
                <li>No followers yet.</li>
            {% endfor %}
        </ul>
        <ul class="p-2 bg-gray-200 rounded-2xl text-blue-900">
            <p class="text-orange-500 text-xl font-semibold">Following:</p>
            {% for followed_user in following %}
                <li>{{ followed_user.realname }}</li>
            {% empty %}
                <li>Not following anyone yet.</li>
            {% endfor %}
        </ul> 
    </div>
    

</div>

<div id="tabs" class=" flex items-center mt-2 mb-4 justify-evenly flex-wrap" 
hx-target="#tab-contents" 
hx-swap="innerHTML"
_="on htmx:afterOnLoad take .selected for event.target" > 
    <a hx-get="{% url 'userprofile' profile.user.username %}" class="tab selected">Latest</a>
    <a hx-get="{% url 'userprofile' profile.user.username %}?top-posts" class="tab">Top Posts</a>  
    <a hx-get="{% url 'userprofile' profile.user.username %}?top-comments" class="tab">Top Comments</a>
</div>
<div id="tab-contents" class="flex flex-col items-center">
    {% include 'snippets/loop_profile_posts.html' %}
</div>
{% endblock %}