{% extends 'layouts/d.html' %}

{% block title %} Profile- {{ user.profile.realname }} {% endblock %}

{% block content %}
<div id="profile" class="flex flex-col items-center">
    
    <div class="w-full md:w-[36rem] lg:w-[50rem] justify-center flex">
        <div class="card p-4">
            <div class="text-center flex flex-col items-center">
                <img class="w-20 h-20 rounded-full object-cover mb-4" src="{{ profile.image.url }}" />
                <div class="text-center max-w-md">
                    {% if profile.realname %}
                    <h2>{{ profile.realname }}</h2>
                    {% else %}
                    <h2>{{ profile.user.username }}</h2>
                    {% endif %}
                    <div class="text-gray-400 mb-2 -mt-3">@ {{ profile.user.username }}</div>
                    <div class="flex items-center justify-center mx-auto">
                        <img class="object-cover h-6 mr-1 opacity-60" src="https://img.icons8.com/material-outlined/50/000000/marker.png"> 
                       {% if profile.location %}
                       {{ profile.location }}
                       {% else %}
                       <p>Planet Earth</p>
                       {% endif %}
                    </div>
                    <div class="my-4">
                        {% if profile.bio %}
                        {{ profile.bio }}
                        {% else %}
                        <p>Hello people!</p>
                        {% endif %}
                    </div> 
                    
                </div>
            </div>
        </div>
    </div>

    <div id="tabs" style="display:flex; justify-content:center; margin: 40px auto; gap:20px; flex-wrap:wrap" hx-target="#tab-contents" hx-swap="innerHTML"
    _="on htmx:afterOnLoad take .selected for event.target" > 
        <a hx-get="{% url 'userprofile' profile.user.username %}" class="tab selected">Latest</a>
        <a hx-get="{% url 'userprofile' profile.user.username %}?top-posts" class="tab">Top Posts</a>  
        <a hx-get="{% url 'userprofile' profile.user.username %}?top-comments" class="tab">Top Comments</a>
    </div>
        {% if user == profile.user %}
        <div style="width:90%;max-width:300px;margin:20px auto;font-weight:700;font-family: sans-serif;text-align:center;color:darkorange;border-bottom: 2px solid #ccc;"><h2>Your Posts</h2></div>
        {% else %}
        <div style="width:90%;max-width:300px;margin:20px auto;font-weight:700;font-family: sans-serif;text-align:center;color:darkorange;border-bottom: 2px solid #ccc;"><h2>Posts by {{ profile.user.username }}</h2></div>
        {% endif %}
    <div id="tab-contents">
        {% include 'snippets/loop_profile_posts.html' %}
    </div>
  
        {% if user == profile.user %}
        <div style="width:90%;max-width:300px;margin:20px auto;font-weight:700;font-family: sans-serif;text-align:center;color:darkorange;border-bottom: 2px solid #ccc;"><h2>Your Notes</h2></div>
        {% else %}
        <div style="width:90%;max-width:300px;margin:20px auto;font-weight:700;font-family: sans-serif;text-align:center;color:darkorange;border-bottom: 2px solid #ccc;"><h2>Notes by {{ profile.user.username }}</h2></div>
        {% endif %}
</div>
{% endblock %}