{% extends 'layouts/profile_layout.html' %}

{% block title %} Profile- {{ user.profile.realname }} {% endblock %}

{% block content %}
{% load static %}
<style>
    :root {
    --bg-image-fallback-url: url('{% static 'images/profile_bg.jpg' %}');
}
</style>
{% if profile.profilebackground %}
<div class="w-full  h-32 md:h-48" 
    style="background-image: url('{{ profile.profilebackground.url }}');background-size: cover;background-position:center center;background-repeat: no-repeat;">
</div>

{% else %}
<div class="w-full h-32 md:h-48" 
    style="background-image:var(--bg-image-fallback-url);background-size: cover;background-position: center center;background-repeat: no-repeat;">
</div>
{% endif %}
<div class="theme-color px-4 pb-2">
    <div class="flex justify-between items-center">
        {% if profile.image %}
        <img class="border-solid border-white rounded-full w-24 h-24 -mt-14 ml-3" src="{{ profile.image.url }}" />
        {% else %}
        <img class="w-full h-40 md:h-48 object-cover" src="{% static 'images/default.png' %}">
        {% endif %}
        <div class="flex justify-start gap-3 items-center">
            {% if user == profile.user %}
            <div class="block md:hidden">
                <a href="{% url 'edit-profile' %}" class="py-2 pl-4 pr-2 bg-orange-400 rounded-full theme-color text-center"><i class="fa-regular fa-pen-to-square mr-2" style="color: #f3f4f7;"></i></a>
            </div>
            <div class="hidden md:block">
                <a href="{% url 'edit-profile' %}" class="text-sm py-2 px-4 bg-orange-400 rounded-3xl  theme-color text-center"><i class="fa-regular fa-pen-to-square mr-2 text-white"></i><span class="text-white">Edit Profile</span></a>
            </div>
            {% else %}
                {% if request.user in profile.followers.all %}
                <form method="POST" action="{% url 'unfollow_user' username=profile.user.username %}">
                    {% csrf_token %}
                    <button id="already-following-btn" type="submit" class="text-sm py-2 px-4 bg-orange-400 rounded-3xl theme-color text-center">Following</button>
                </form>
                {% else %}
                <form method="POST" action="{% url 'follow_user' username=profile.user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="text-sm py-2 px-4 bg-orange-400 rounded-3xl theme-color text-center">Follow</button>
                </form>
                {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="mt-4">
        {% if profile.realname %}
        <p class="theme-color text-2xl mb-3"><b>{{ profile.realname|title }}</b>
            <span class="text-gray-400 text-xl">@ {{ profile.user.username }}</span>
        </p>
        {% else %}
        <p class="theme-color text-2xl mb-3"><b>{{ profile.user.username|title }}</b>
            <span class="text-gray-400 text-xl">@ {{ profile.user.username }}</span>
        </p>
        {% endif %}

        {% if profile.bio %}
        <p><i class="fa-solid fa-briefcase text-orange-500 mr-2 mb-3"></i>{{ profile.bio }}</p>
        {% else %}
        <p><i class="fa-solid fa-briefcase text-orange-500 mr-2 mb-3"></i>Hello people!</p>
        {% endif %}

        <div class="flex flex-wrap justify-start gap-3 md:gap-6 items-center ">
            <p class="text-gray-400"><span class="theme-color">{{post_count}} </span>Posts</p>
            {% if profile.location %}
            <p><i class="fa-solid fa-map-pin text-orange-500 mr-2"></i><span class="text-gray-400">{{ profile.location }}</span></p>
            {% else %}
            <p><i class="fa-solid fa-map-pin text-orange-500 mr-2"></i><span class="text-gray-400">Planet Mars</span></p>
            {% endif %}
            {% if user.is_authenticated %}
            <p class="text-gray-400"><i class="fa-regular fa-calendar text-orange-500 mr-2"></i>Joined {{user.profile.created|date:'F Y'}}</p>
            {% endif %}
            <a href="{% url 'follow_page' username=profile.user.username %}" class="text-gray-400"><span class="theme-color">{{profile.followers.count}} </span>{{ profile.followers.count|pluralize:"Follower,Followers" }}</a>
            <a href="{% url 'follow_page' username=profile.user.username %}" class="text-gray-400"><span class="theme-color">{{profile.user.following.count}} </span>Following</a>
        </div>
    </div> 

</div>

<div id="tabs" class=" flex items-center mt-2 mb-4 justify-evenly gap-2 flex-wrap" 
hx-target="#tab-contents" 
hx-swap="innerHTML"
_="on htmx:afterOnLoad take .selected for event.target" > 
    <a hx-get="{% url 'userprofile' profile.user.username %}" class="tab selected p-1 theme-color">Latest</a>
    <a hx-get="{% url 'userprofile' profile.user.username %}?reposts" class="tab p-1 theme-color">Reposts</a>  
    <a hx-get="{% url 'userprofile' profile.user.username %}?top-posts" class="tab p-1 theme-color">Top Posts</a>  
    <a hx-get="{% url 'userprofile' profile.user.username %}?top-comments" class="tab p-1 theme-color">Top Comments</a>
</div>
<div id="tab-contents" class="flex flex-col items-center">
    {% include 'snippets/loop_profile_posts.html' %}
</div>
{% endblock %}