{% extends 'layouts/b.html' %}

{% block title %} Confirm Reset Password {% endblock %}

{% block content %}
<style>
    .change-password-container {
        max-width: 700px;
        border: 1px solid #ccc;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: center;
    }

    .img-container {
        overflow:hidden;
        padding:20px; 
        background-color: rgb(241, 240, 253);
    }

    .password-form-container {
        background:rgb(247, 246, 246);
        border: 1px solid #ccc;
    }
    

    .password-change-form {
        padding: 20px;
    }

    input {
        background-color: rgb(242, 239, 239);
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 3px;
        outline: .1px solid rgb(0, 0, 255);
    }

    @media (max-width: 768px) {
        .change-password-container {
            grid-template-columns:100%;
        }
        .img-container {
            display:none;
        }
    }
</style>
{% load static %}
<div class='change-password-container'>
    <div class="img-container">
        <img class="img-fluid"  src="{% static 'icons/signin.png' %}" alt="login-img">
    </div>
    <div class="password-form-container">
        <form method="post" class="password-change-form">
            <p style="font-size:20px; color:black;font-weight:600;padding-bottom: 10px;">Enter New Password</p>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="mt-3">Change my password</button>
        </form>
    </div>
</div>
{% endblock %}