{% extends 'layouts/b.html' %}

{% block content %}
<style>
    form {
        max-width:700px;
        width:100%;
        background-color: #dfdfdf;
        padding:30px;
        margin:20px auto;
        border-radius:8px;
    }
    p {
        padding-bottom:5px;
        color:black;
        font-size: 16px;
        font-weight:500;
    }
    input {
        background-color:rgb(242, 239, 239);
        margin-bottom:10px;
    }
</style>
<form method="post">
    {% csrf_token %}
    <p style="font-size:20px; color:black;font-weight:600;padding-bottom: 10px;">Password change</p>
    {{ form }}
    <button type="submit" class="mt-1">Change Password</button>
</form>

{% endblock %}