{% extends 'layouts/b.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<style>
    form {
        max-width:600px;
        width:100%;
        background:rgb(247, 246, 246);
        padding:30px;
        margin:20px auto;
        border-radius:8px;
        border:1px solid #ccc;
    }
    p {
        padding-bottom:5px;
        color:black;
        font-size: 16px;
        font-weight:400;
    }
    input {
        background-color:rgb(255, 255, 255);
        margin-bottom:10px;
        padding:10px;
        border-radius: 5px;
        border: .1px solid #ccc;
        
    }
    label {
        font-weight: 550;
        display:block;
    }
</style>
<form method="post">
    {% csrf_token %}
    <p style="font-size:20px; color:black;font-weight:600;padding-bottom: 10px;">Create an Account</p>
    {{ form }}
    <p>Have an Account?<a style="padding-left:5px;padding-right:5px;color:darkblue;text-decoration: underline;" href="/login">Login</a>here.</p>
    <button type="submit" class="mt-1">Sign-up</button>
</form>

{% endblock %}

