{% extends 'layouts/b.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block title %} Login {% endblock %}

{% block content %}
<style>
  .login-container {
      max-width: 700px;
      border: 1px solid #ccc;
      display:grid;
      grid-template-columns:repeat(2, 1fr);
      justify-content: center;
  }
  .img-container {
      overflow:hidden;
      padding:20px; 
      background-color: rgb(241, 240, 253);
  }
  .login-form-container {
      background:rgb(247, 246, 246);
      border: 1px solid #ccc;
  }
  .login-form {
      padding: 5px 15px;
  }
  input {
      background:rgb(241, 240, 253);
      padding: 13px;
      border-radius: 3px;
      width:100%;
  }
  
  @media (max-width: 768px) {
      .login-container {
          grid-template-columns:100%;
      }
      .img-container {
          display:none;
      }
  }
</style>
{% load static %}

{% get_providers as socialaccount_providers %}

<div class='login-container'>
  <div class="img-container">
      <img class="img-fluid" src="{% static 'icons/signin.png' %}" alt="login-img">
  </div>
  <div class="login-form-container">
    <h2 style="text-align: center;padding-top: 1rem;">{% trans "Login to Colltech" %}</h2>
    <div style="padding:15px;">
    {% if socialaccount_providers %}
      <p style="text-align: start;color:darkblue;">{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}"><span style="color:blue;text-decoration: underline;">sign up</span></a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
     

      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}

      <p style="padding-left:1rem;">{% blocktrans %}Don't have an account?
      <a href="{{ signup_url }}" style="color:darkblue;text-decoration: underline;">sign up</a>{% endblocktrans %}</p>
      {% endif %}
    </div>
    <form class="login-form" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form }}
      {% if redirect_field_value %}
      <div style="margin-bottom:40px;">
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      </div>
      {% endif %}
      <button style="margin-top:8px;" class="primaryAction successbtn" type="submit">{% trans "Login" %}</button>
    </form>
  </div>
</div>
{% endblock content %}